<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 工艺 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addCraft'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <%= form_tag crafts_path, class: 'form-inline', method: 'get' do %>
          <%= label_tag :start_at, '查询时间', class: 'control-label', style: 'margin: 0px;' %>
          <%= date_field_tag :start_at, params[:start_at].presence || Date.today.beginning_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择起始日期', required: true %>
          &nbsp;&nbsp;--&nbsp;&nbsp;
          <%= date_field_tag :end_at, params[:end_at].presence || Date.today.end_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',  required: true %>
          
          <%= submit_tag '查询', class: 'btn btn-primary', style: 'margin: 0 0 0 10px;' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>名称</th>
            <th>备注</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @crafts.each do |craft| %>
          <tr>
            <td><%= craft.full_name %></td>
            <td style="max-width: 200px;"><%= craft.note %></td>
            <td><%= craft.deleted? ? '已删除' : '使用中' %></td>
            <td>
              <% if craft.deleted %>
              <%= link_to '恢复', craft_path(craft, craft: {reset: true}), method: :patch, style: "color: green !important;" %>
              <% else %>
              <%= link_to '删除', craft, method: :delete, style: "color: red !important;", data: { confirm: '确认删除？' } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'new' %>