<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 配件类型 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addPartCategories'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <% PartCategory.where(parent_id:0, deleted: false).map{|pc|[pc.name, pc.id]}.push(['所有', nil]).each do |k, p| %>
        <%= link_to k, part_categories_path(id: p), class: "btn btn-default #{'btn-primary' if params[:id] == p.to_s || params[:id].presence == p}" %>
        <% end %>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>父类型</th>
            <th>名称</th>
            <th>进价</th>
            <th>售价</th>
            <th>库存</th>
            <th>单位</th>
            <th>供应商</th>
            <th>品牌</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @part_categories.each do |pc| %>
          <tr>
            <td><%= pc.parent_id? ? PartCategory.find_by_id(pc.parent_id).try(:name) : '基本类型' %></td>
            <td><%= pc.name %></td>
            <td><%= pc.buy %></td>
            <td><%= pc.price %></td>
            <td><%= pc.store %></td>
            <td><%= pc.uom %></td>
            <td><%= pc.supply.try(:full_name) %></td>
            <td><%= pc.brand %></td>
            <td style="max-width:400px;"><%= pc.note %></td>
            <td>
              <%= link_to "编辑", edit_part_category_path(id: pc.id), class:'btn btn-xs btn-primary', data: { toggle: 'modal', target: '#editPartCategory'} %>
              <% if pc.deleted %>
              <%= link_to '恢复', part_category_path(pc, reset: true), method: :patch, class:'btn btn-xs btn-default',  style: "color: green !important;" %>
              <% else %>
              <%= link_to '删除', pc, method: :delete, style: "color: red !important;", class:'btn btn-xs btn-default',  data: { confirm: '确认删除？' } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editPartCategory" tabindex="-1" role="dialog" aria-labelledby="editPartCategoryLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<script type="text/javascript">
$("#editPartCategory").on("hidden.bs.modal", function(e){
  $(this).removeData("bs.modal");
});
</script>

<%= render 'new' %>