<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 银行账户 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addBank'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>户名</th>
            <th>开户银行</th>
            <th>卡号</th>
            <th>收入</th>
            <th>支出</th>
            <th>余额</th>
          </tr>
        </thead>
        <tbody>
          <% @banks.each do |b| %>
          <tr>
            <td><%= b.name %></td>
            <td><%= b.bank_name %></td>
            <td><%= b.bank_card %></td>
            <td><%= b.incomes %></td>
            <td><%= b.expends %></td>
            <td><%= b.balance %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @banks %>
      </div>
    </div>
  </div>
</div>
<%= render 'new' %>