<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @bank.bank_name %>
</p>

<p>
  <strong>Bank card:</strong>
  <%= @bank.bank_card %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @bank.balance %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
