<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 支出记录 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addExpends'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <%= form_tag expends_path, class: 'form-inline', method: 'get' do %>
          <%= label_tag :start_at, '支出时间', class: 'control-label', style: 'margin: 0px;' %>
          <%= date_field_tag :start_at, params[:start_at].presence || Date.today.beginning_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择起始日期', required: true %>
          &nbsp;&nbsp;--&nbsp;&nbsp;
          <%= date_field_tag :end_at, params[:end_at].presence || Date.today.end_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',  required: true %>
          <%= label_tag :bank_id, '卡号', class: 'control-label', style: 'margin: 0px;' %>
          <%= select_tag :bank_id, options_for_select(Bank.all.map{|i|[i.bank_card, i.id]}, params[:bank_id].presence), class: 'form-control' %>
          <%= submit_tag '查询', class: 'btn btn-primary', style: 'margin: 0 0 0 10px;' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>编号</th>
            <th>银行卡</th>
            <th>支出事由</th>
            <th>支出时间</th>
            <th>支出金额</th>
            <th>经手人</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @expends.each do |e| %>
          <tr>
            <td><%= e.id %></td>
            <td><%= e.bank.bank_card %></td>
            <td><%= e.reason %></td>
            <td><%= e.expend_at.strftime('%Y-%m-%d') %></td>
            <td><%= e.money %></td>
            <td><%= e.username %></td>
            <td style="max-width:300px;"><%= e.note %></td>
            <td><%= link_to '删除', e, method: :delete, data: { confirm: '警告！ 操作不可逆转，确认删除？' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @expends %>
      </div>
    </div>
  </div>
</div>
<%= render 'new' %>