<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 个人设置 <small>请完善您的用户信息</small> </h2>
      <div class="pull-right panel-options">
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label class="col-xs-2 control-label" for="user_username"><span class="require">*</span>用户名</label>
          <div class="col-xs-10">
            <%= f.text_field :username, maxlength: 25, required: true, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :email, '邮箱', class: 'col-xs-2 control-label' %>
          <div class="col-xs-10">
            <%= f.text_field :email, class: 'form-control', disabled: 'disabled' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :mobile, '电话', class: 'col-xs-2 control-label' %>
          <div class="col-xs-10">
            <%= f.phone_field :mobile, maxlength: 15, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-right: 0px;">
      <div class="form-group text-right" style="margin-right: 0px;">
        <%= f.submit '提交', class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>