<!-- Modal -->
<div class="modal fade" id="addIncomes" role="dialog" aria-labelledby="addIncomesLabel">
  <div class="modal-dialog modal-sm" role="document" style="width: 400px;">
    <div class="modal-content">
      <%= form_for @income, html: {class: 'form-horizontal'} do |f| %>
      <% income = f.object  %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addIncomesLabel"> 收入记录 <small>新建</small></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= label_tag :reason, '收入类型', class: 'control-label col-sm-3' %>
          <div class="col-sm-9">
            <label for="reason_order" style="margin: 0px 5px;"><%= radio_button_tag 'income[reason]', 'order', params[:reason].blank? ? true : false, id: 'reason_order' %>订单收入</label>
            <label for="reason_other" style="margin: 0px 5px;"><%= radio_button_tag 'income[reason]', 'other', false, id: 'reason_other' %>其他收入</label>
          </div>
        </div>
        <div class="form-group">
          <label for="income_agent_id" class="control-label col-sm-3"><span class="require">*</span>代理商</label>
          <div class="col-sm-9">
            <%= f.select :agent_id, raw("<option value='#{params[:agent_id]}'>#{Agent.find_by_id(params[:agent_id]).try(:full_name)}</option>"), {}, {class: 'form-control remoteDataAgent', style: 'width:100%;', required: true} %>
          </div>
        </div>
        <div class="form-group">
          <label for="income_bank_id" class="control-label col-sm-3"><span class="require">*</span>银行卡</label>
          <div class="col-sm-9">
            <%= select_tag 'income[bank_id]', options_for_select(Bank.all.map{|i|[i.bank_card, i.id]}), class: 'form-control', required: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="income_money" class="control-label col-sm-3"><span class="require">*</span>金额</label>
          <div class="col-sm-9">
            <%= f.number_field :money, value: 0, min: 0, step: 0.01, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="income_username" class="control-label col-sm-3"><span class="require">*</span>经手人</label>
          <div class="col-sm-9">
            <%= f.text_field :username, value: current_user.username.presence || current_user.email, class: 'form-control col-sm-9', required: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="income_income_at" class="control-label col-sm-3"><span class="require">*</span>时间</label>
          <div class="col-sm-9">
            <%= f.date_field :income_at, value: income.income_at.nil? ? '' : income.income_at.strftime("%Y-%m-%d"), class: 'form-control col-sm-9', data: {provide: 'datepicker'}, required: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label '备注', for: 'income_note', class: 'control-label col-sm-3' %>
          <div class="col-sm-9">
            <%= f.text_area :note, rows: 2, class: 'form-control col-sm-9', style: 'resize: none; padding: 3px;', placeholder: '请输入备注信息' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
        <%= f.submit '提交', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
// 收入类型为 “订单收入” 时，清空代理商、禁用代理商选择
$("#reason_order").click(function(e){
  var $agent_id = $(e.target).parents(".form-group").siblings().find("#income_agent_id");
  // 可用
  $agent_id.removeAttr("disabled")
});
// 收入类型为 “其他收入” 时，清空代理商、禁用代理商选择
$("#reason_other").click(function(e){
  var $agent_id = $(e.target).parents(".form-group").siblings().find("#income_agent_id");
  // 清空
  $agent_id.empty();
  // 禁用
  $agent_id.prop("disabled", "disabled");
});
</script>