<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 收入记录 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addIncomes'} %>
        
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <%= form_tag incomes_path, class: 'form-inline', method: 'get' do %>
          <%= label_tag :start_at, '收入时间', class: 'control-label', style: 'margin: 0px;' %>
          <%= date_field_tag :start_at, params[:start_at].presence || Date.today.beginning_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择起始日期', required: true %>
          &nbsp;&nbsp;--&nbsp;&nbsp;
          <%= date_field_tag :end_at, params[:end_at].presence || Date.today.end_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',  required: true %>
          <%= label_tag :agent_id, '代理商', class: 'control-label', style: 'margin: 0px;' %>
          <%= select_tag :agent_id, params[:agent_id].present? ? raw("<option value='#{params[:agent_id]}'>#{Agent.find_by_id(params[:agent_id]).try(:full_name)}</option>") : nil, class: 'form-control remoteDataAgent', style: 'width: 200px;' %>
          <%= label_tag :bank_id, '卡号', class: 'control-label', style: 'margin: 0px;' %>
          <%= select_tag :bank_id, options_for_select(Bank.all.map{|i|[i.bank_card, i.id]}, params[:bank_id].presence), include_blank: "选择查询卡号", class: 'form-control' %>
          <%= link_to '查询', '#', class: 'btn btn-primary', style: 'margin: 0 0 0 10px;', onclick: 'searchOrDownload(this, "search")' %>
          <%= link_to '下载', '#', class: 'btn btn-default', onclick: 'searchOrDownload(this, "download")' %>
          <%= link_to "订单扣款", 'javascript:void(0);', class: 'btn btn-primary pull-right',  data: { toggle: 'modal', target: '#paymentIncome'} %>
          <% end %>
          <% if current_user.admin? || current_user.role?('financial') %>
          <div class="row text-center" style="margin-top: 10px; font-weight: bold;">
            <span>收入金额：<code><%= @agent_incomes %></code>&nbsp;元&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>其他金额：<code><%= @other_incomes %></code>&nbsp;元&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>订单(支出)金额：<code><%= @order_incomes %></code>&nbsp;元</span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>编号</th>
            <th>来源</th>
            <th>收入类型</th>
            <th>收入卡号</th>
            <th>收入时间</th>
            <th>收入金额</th>
            <th>经手人</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @incomes.each_with_index do |i, index| %>
          <% next if i.money.to_i == 0 %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= i.agent.try(:full_name) %></td>
            <td><%= i.reason %></td>
            <td><%= i.bank.present? ? (i.bank.bank_name + " " + i.bank.bank_card) : '代理商余额扣款' %></td>
            <td><%= i.income_at.strftime('%Y-%m-%d') %></td>
            <td><%= i.money %></td>
            <td><%= i.username %></td>
            <td style="max-width:300px;"><%= i.note %></td>
            <td><%= link_to '编辑', edit_income_path(i), data: { toggle: 'modal', target: '#editIncome'}, class: 'btn btn-xs btn-primary' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @incomes %>
      </div>
    </div>
  </div>
</div>
<%= render 'new' %>
<%= render '/incomes/payment' %>

<!-- 收入编辑 Modal -->
<div class="modal fade" id="editIncome" tabindex="-1" role="dialog" aria-labelledby="editIncomeLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<script type="text/javascript">
// 收入编辑
$("#editIncome").on("hidden.bs.modal", function(e){
  $(this).removeData("bs.modal");
});
</script>
