<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 收支统计 <small>信息</small> </h2>
    </div>
  </div>
  <% @start_at = Date.today.beginning_of_month %>
  <% @end_at = Date.today.end_of_month %>
  <% if params[:start_at] || params[:end_at] || params[:bank_id]%>
  <% @start_at = params[:start_at]%>
  <% @end_at = params[:end_at]%>
  <% @bank_id = params[:bank_id]%>
  <% end%>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
        <%= form_tag stat_incomes_path, class: 'form-inline', method: 'get' do %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>查询条件</span>
          </div>
          <div class="panel-body">
            <div class="col-sm-6">
              <label>收支时间：</label>
              <%= date_field_tag :start_at, @start_at, class: 'form-control', data: {provide: 'datepicker'}, style: "width: 35%;", placeholder: '请选择起始日期' %>
              &nbsp;&nbsp;--&nbsp;&nbsp;
              <%= date_field_tag :end_at, @end_at, class: 'form-control', data: {provide: 'datepicker'}, style: "width: 35%;", placeholder: '请选择终止日期' %>
            </div>
            <div class="col-sm-4">

              <label>财务类别: </label>

              <%= select_tag :bank_id, options_from_collection_for_select(Bank.all, "id", "bank_card",:selected=>@bank_id), :include_blank => "请选择", class: "form-control" %>
            </div>
            <div class="col-sm-2">
              <%= submit_tag '查询', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <div class="row content-table">
      <div class="col-sm-4" style="padding: 0 0;">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>收支统计信息</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>总收入</th>
              <td><%= sum_incomes =  @incomes.map(&:money).sum %></td>
            </tr>
            <tr>
              <th>总支出</th>
              <td><%= sum_expends =  @expends.map(&:money).sum %></td>
            </tr>
            <tr>
              <th>总金额</th>
              <td><%= sum_incomes - sum_expends %></td>
            </tr>
          </table>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>银行卡统计信息</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <thead>
              <tr>
                <th>银行卡号</th>
                <th>总收入</th>
                <th>总支出</th>
                <th>总金额</th>
              </tr>
            </thead>
            <tbody>
              <% if @incomes_expends.size > 0  %>
              <% Bank.all.each do |b| %>
              <% next if @bank_id.present? && @bank_id.to_i != b.id  %>
              <% b_incomes = 0; b_expands = 0; %>
              <tr>
                <td><%= b.bank_card %></td>
                <td><%= b_incomes =  @incomes.where(bank_id: b.id).map(&:money).sum %></td>
                <td><%= b_expands = @expends.where(bank_id: b.id).map(&:money).sum %></td>
                <td><%= b_incomes - b_expands %></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-8" style="padding: 0 0 0 5px;">
        <div class="panel panel-info">
          <table class="table table-hover table-striped table-bordered table-condensed text-center">
            <thead>
              <tr>
                <th>来源</th>
                <th>卡号</th>
                <th>订单号</th>
                <th>时间</th>
                <th>收入金额</th>
                <th>支出金额</th>
                <th>经手人</th>
                <th>备注</th>
                <!-- <th>类型</th> -->
              </tr>
            </thead>
            <tbody>
              <% @incomes_expends.each do |i| %>
              <tr>
                <td><%= i.reason %></td>
                <td><%= i.try(:bank).try(:bank_card) %></td>
                <td><%= i.try(:indent).try(:name) %></td>
                <td><%= i.class.to_s == "Income" ? i.income_at.strftime('%Y-%m-%d') : i.expend_at.strftime('%Y-%m-%d') %></td>
                <td><%= i.money if i.class.to_s == Income.name %></td>
                <td><%= i.money if i.class.to_s == Expend.name %></td>
                <td><%= i.username %></td>
                <td style="max-width:250px;"><%= i.note %></td>
                <!-- <td><%#= i.class.to_s == "Income" ? '收入' : '支出' %></td> -->
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pages pull-right">
            <%#= paginate @incomes_expends %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
