<%= form_for(@agent, url: @agent.new_record? ? agents_path : agent_path(@agent)) do |f| %>
<div class="modal-body">
  <table class="table table-hover table-striped table-bordered table-condensed">
    <tr>
      <td>
        <%= f.label '编号' %>
      </td>
      <td>
        <%= f.text_field :name, value: @agent.name, required: true, readOnly: true, class: 'form-control' %>
      </td>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>店面</label>
      </td>
      <td>
        <%= f.text_field :full_name, required: true, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>电话</label>
      </td>
      <td>
        <%= f.text_field :mobile, required: true, class: 'form-control' %>
      </td>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>负责人</label>
      </td>
      <td>
        <%= f.text_field :contacts, required: true, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>省市县</label>
      </td>
      <td colspan="3">
        <div class="city-group">
          <%= f.collection_select :province, Province.all, :id, :name, {include_blank: '--省份--', selected: @agent.new_record? ? Province.find_by_name("湖北省").try(:id) : @agent.province} ,{required: true, onchange: 'getChinaCity(this);'} %>
          <%= f.collection_select :city, City.where(province_id: Province.find_by_name("湖北省").try(:id)), :id, :name, {include_blank: '--城市--', selected: @agent.new_record? ? City.find_by_name("武汉市").try(:id) : @agent.city}, {onchange: 'getChinaCity(this);', onclick: 'validateCities(this);'} %>
          <% if @agent.new_record? %>
          <%= f.collection_select :district, District.where(city_id: City.find_by_name("武汉市").try(:id)), :id, :name, {include_blank: '--地区--', selected: ""},{onclick: 'validateCities(this);'} %>
          <% else %>
          <%= f.collection_select :district, District.where(city_id: @agent.city), :id, :name, {include_blank: '--地区--', selected: @agent.district},{onclick: 'validateCities(this);'} %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '城镇' %>
      </td>
      <td>
        <%= f.text_field :town, maxlength: 5, class: 'form-control' %>
      </td>
      <td data-toggle="tooltip" title="请填写详细地址（除省市县镇外的信息）">
        <label>详细地址</label>
      </td>
      <td data-toggle="tooltip" title="请填写详细地址（除省市县镇外的信息）">
        <%= f.text_field :address, maxlength: 20, data: {toggle: 'tooltip'}, title: '详细地址(不包含省市县)', class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="agent_e_account">QQ</label>
      </td>
      <td>
        <%= f.text_field :e_account, class: 'form-control' %>
      </td>
      <td>
        <%= f.label '传真' %>
      </td>
      <td>
        <%= f.text_field :fax, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '邮箱' %>
      </td>
      <td>
        <%= f.text_field :email, class: 'form-control' %>
      </td>
      <td>
        <%= f.label '微信' %>
      </td>
      <td>
        <%= f.text_field :wechar, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>物流</label>
      </td>
      <td>
        <%= f.text_field :logistics, required: true, class: 'form-control' %>
      </td>
      <td>
        <%= f.label '结账周期(天)' %>
      </td>
      <td>
        <%= f.text_field :cycle, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '下单条件' %>
      </td>
      <td>
        <%= f.text_field :order_condition, class: 'form-control' %>
      </td>
      <td>
        <%= f.label '发货条件' %>
      </td>
      <td>
        <%= f.text_field :send_condition, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '备注' %>
      </td>
      <td colspan="3">
        <%= f.text_field :note, class: 'form-control' %>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <% if @agent.new_record? %>
  <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <% end %>
  <%= f.submit '提交', class: 'btn btn-primary' %>
</div>
<% end %>