<%= form_for(@agent, url: @agent.new_record? ? agents_path : agent_path(@agent)) do |f| %>
<div class="modal-body">
  <table class="table table-hover table-striped table-bordered table-condensed">
    <tr>
      <td>
        <%= f.label '编号' %>
      </td>
      <td>
        <%= f.text_field :name, value: @agent.name, required: true, readOnly: true %>
      </td>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>店面</label>
      </td>
      <td>
        <%= f.text_field :full_name, required: true %>
      </td>
    </tr>
    <tr>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>电话</label>
      </td>
      <td>
        <%= f.text_field :mobile, required: true %>
      </td>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>负责人</label>
      </td>
      <td>
        <%= f.text_field :contacts, required: true %>
      </td>
    </tr>
    <tr>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>省市县</label>
      </td>
      <td colspan="3">
        <div class="city-group">
          <% if @agent.new_record? %>
          <%= f.select :province, options_for_select(ChinaCity.list), {prompt: '--省份--'} ,{:class => "city-select", required: true} %>
          <%= f.select :city, options_for_select([]), {prompt: '--城市--'},{:class => "city-select"} %>
          <%= f.select :district, options_for_select([]),{prompt: '--地区--'},{ :class => "city-select"} %>
          <% else %>
          <%= f.select :province, options_for_select(ChinaCity.list, @agent.province), {prompt: '--省份--'},{ :class => "city-select", required: true} %>
          <%= f.select :city, options_for_select(ChinaCity.list(@agent.province), @agent.city), {prompt: '--城市--'},{:class => "city-select"} %>
          <%= f.select :district, options_for_select(ChinaCity.list(@agent.city), @agent.district), {prompt: '--地区--'},{ :class => "city-select"} %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '城镇' %>
      </td>
      <td>
        <%= f.text_field :town %>
      </td>
      <td data-toggle="tooltip" title="请填写详细地址（除省市县镇外的信息）">
        <label>详细地址</label>
      </td>
      <td data-toggle="tooltip" title="请填写详细地址（除省市县镇外的信息）">
        <%= f.text_field :address, maxlength: 20, data: {toggle: 'tooltip'}, title: '详细地址(不包含省市县)' %>
      </td>
    </tr>
    <tr>
      <td>
      <label for="agent_e_account">QQ</label>
      </td>
      <td>
        <%= f.text_field :e_account %>
      </td>
      <td>
        <%= f.label '传真' %>
      </td>
      <td>
        <%= f.text_field :fax %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '邮箱' %>
      </td>
      <td>
        <%= f.text_field :email %>
      </td>
      <td>
        <%= f.label '微信' %>
      </td>
      <td>
        <%= f.text_field :wechar %>
      </td>
    </tr>
    <tr>
      <td data-toggle="tooltip" title="必填项">
        <label><span class="require">*</span>物流</label>
      </td>
      <td>
        <%= f.text_field :logistics, required: true %>
      </td>
      <td>
        <%= f.label '结账周期(天)' %>
      </td>
      <td>
        <%= f.text_field :cycle %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '下单条件' %>
      </td>
      <td>
        <%= f.text_field :order_condition %>
      </td>
      <td>
        <%= f.label '发货条件' %>
      </td>
      <td>
        <%= f.text_field :send_condition %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '备注' %>
      </td>
      <td colspan="3">
        <%= f.text_field :note, width: '100%' %>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <% if @agent.new_record? %>
  <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <% end %>
  <%= f.submit '提交', class: 'btn btn-primary' %>
</div>
<% end %>