<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 代理商 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addAgent'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <%= form_tag agents_path, class: 'form-inline', method: 'get' do %>
          <%= label_tag :full_name, '店名', class: 'control-label', style: 'margin: 0px;' %>
          <div class="form-group">
            <select name="full_name" id="full_name" class="form-control agents_search_form_full_name" style='min-width: 150px;'>
              <option value="<%= @search_agent.id %>"><%= @search_agent.full_name %></option>
            </select>
            <%#= select_tag :full_name, nil, class: 'form-control agents_search_form_full_name', placeholder: '请输入店名', style: 'min-width: 150px;' %>
          </div>
          <%= label_tag :contacts, '负责人', class: 'control-label', style: 'margin: 0 0 0 10px;' %>
          <div class="form-group">
            <select name="contacts" id="contacts" class="form-control agents_search_form_contacts" style='min-width: 150px;'>
              <option value="<%= @search_agent.id %>"><%= @search_agent.contacts %></option>
            </select>
            <%#= select_tag :contacts, nil, class: 'form-control agents_search_form_contacts', placeholder: '请输入负责人', style: 'min-width: 150px;' %>
          </div>
          <%= label_tag :mobile, '电话', class: 'control-label', style: 'margin: 0 0 0 10px;' %>
          <div class="form-group">
            <select name="mobile" id="mobile" class="form-control agents_search_form_mobile" style='min-width: 160px;'>
              <option value="<%= @search_agent.id %>"><%= @search_agent.mobile %></option>
            </select>
            <%#= select_tag :mobile, nil, class: 'form-control agents_search_form_mobile', placeholder: '请输入联系电话', style: 'min-width: 160px;' %>
          </div>
          <%= submit_tag '查询', class: 'btn btn-primary', data: {toggle: 'tooltip'}, title: '修改查询条件后，需先点此查询，否则导出结果依然为上次查询结果！', style: 'margin: 0 0 0 10px;' %>
          <% end %>
        </div>
      </div>
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>店名</th>
            <th>电话</th>
            <th>负责人</th>
            <th>欠款</th>
            <th>余额</th>
            <th>QQ</th>
            <th>传真</th>
            <th>邮箱</th>
            <th>微信</th>
            <th>物流</th>
            <th>地址</th>
            <th>收货地址</th>
            <!-- <th>发货条件</th> -->
            <th>结账周期(天)</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <% @agents.each do |a| %>
          <tr>
            <td><%= link_to a.full_name, edit_agent_path(a), data:{toggle: 'tooltip'}, title: '编辑代理商' %></td>
            <td><%= a.mobile %></td>
            <td><%= a.contacts %></td>
            <td><%= a.arrear %></td>
            <td><%= a.balance %></td>
            <td><%= a.e_account %></td>
            <td><%= a.fax %></td>
            <td><%= a.email %></td>
            <td><%= a.wechar %></td>
            <td><%= a.logistics %></td>
            <td><%= a.address %></td>
            <td class="danger" data-toggle="tooltip" title="收货地址格式必须是省市县中的数据，且格式为: xx省xx市xx县，否则无法查询"><%= a.delivery_address %></td>
            <!-- <td><%#= a.send_condition %></td> -->
            <td><%= a.cycle %></td>
            <td style="max-width: 200px;"><%= a.note %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @agents %>
      </div>
    </div>
  </div>
</div>
<%= render 'new' %>