<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 发货清单 <small>列表</small> </h2>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>发货清单号</th>
            <th>件数合计</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @sent_lists.each do |sent_list| %>
          <tr>
            <td><%= sent_list.name %></td>
            <td><%= sent_list.total %></td>
            <td><%= sent_list.created_by %></td>
            <td>
              <%= link_to '查看', sent_list, class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '查看此清单详细' %>
              <%= link_to '下载', "/sents/download.xls?id=#{sent_list.id}", class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '下载此清单' %>
              <%#= link_to '打印', '#', class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '重新打印此清单' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
