<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 发货清单 <small>列表</small> </h2>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>发货清单号</th>
            <th>件数合计</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @sent_lists.each do |sent_list| %>
          <tr>
            <td><%= link_to sent_list.name, sent_list.present? ? sent_list : '#', data: {toggle: 'tooltip'}, title: '查看发货清单详细信息' %></td>
            <td><%= sent_list.total %></td>
            <td><%= sent_list.created_by %></td>
            <td>
              <% if sent_list.sents.pluck(:logistics_code).join().blank? %>
              <%= link_to '编辑', edit_sent_list_path(sent_list), class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '编辑发货清单' %>
              <% else %>
              <%= link_to '编辑', '#', class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '编辑发货清单', disabled: 'disabled' %>
              <% end %>
              <%= link_to '下载', "/sent_lists/#{sent_list.id}/download.xls", class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '下载此清单' %>
              <%= link_to '打印', "/sent_lists/#{sent_list.id}/download.pdf", class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '重新打印此清单' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @sent_lists %>
      </div>
    </div>
  </div>
</div>
