<!-- Modal -->
<div class="modal fade" id="addOrderCrafts" tabindex="-1" role="dialog" aria-labelledby="addOrderCraftsLabel">
  <div class="modal-dialog" role="document" style="width:80%;">
    <div class="modal-content">
      <%= nested_form_for @order, html: {class: 'form-horizontal',multipart: true} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addOrderCraftsLabel"> 工艺 <small>编辑</small></h4>
      </div>
      <div class="modal-body">
        <div id="orderCraftsForm">
          <%= f.fields_for :crafts, wrapper: false do |craft_form| %>
          <div class="fields">
            <div class="row">
              <% cf = craft_form.object %>
              <div class="col-sm-2">
                <label>名称</label>
                <%= craft_form.text_field :full_name, value: cf.new_record? ? '' : cf.full_name %>
              </div>
              <div class="col-sm-2">
                <label>单位</label>
                <%= craft_form.text_field :uom, value: cf.new_record? ? '次' : cf.uom %>
              </div>
              <div class="col-sm-2">
                <label>单价</label>
                <%= craft_form.number_field :price, min: 0, value: cf.new_record? ? 0 : cf.price %>
              </div>
              <div class="col-sm-2">
                <label>数量</label>
                <%= craft_form.number_field :number, min: 1, value: cf.new_record? ? 1 : cf.number %>
              </div>
              <div class="col-sm-2">
                <label>备注</label>
                <%= craft_form.text_field :note, value: cf.new_record? ? '' : cf.note %>
              </div>
              <div class="col-sm-2 text-center">
                <%= craft_form.link_to_remove '删除', class:'btn btn-info btn-sm' %>
              </div>
            </div>
            <hr>
          </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <%= f.link_to_add '添加工艺', :crafts, data: {target: '#orderCraftsForm'}, class: 'btn btn-info' %>
        </div>
        <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
        <%= f.submit '提交', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>