<!-- Modal -->
<div class="modal fade" id="addOrderUnits" tabindex="-1" role="dialog" aria-labelledby="addOrderUnitsLabel">
  <div class="modal-dialog" role="document" style="width:90%">
    <div class="modal-content">
      <%= nested_form_for @order, html: {class: 'form-horizontal', multipart: true} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addOrderUnitsLabel">部件 <small>编辑</small></h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <!-- <div class="panel-heading">
          </div> -->
          <div class="panel-body">
            <div id="orderUnitsForm">
              <%= f.fields_for :units, wrapper: false do |unit_form| %>
              <hr>
              <div class="fields row">
                <div class="col-sm-2">
                  <label>名称</label>
                  <%= unit_form.text_field :full_name %>
                </div>
                <div class="col-sm-2">
                  <label>数量</label>
                  <%= unit_form.number_field :number, min: 1, required: true %>
                </div>
                <div class="col-sm-2">
                  <label>厚度</label>
                  <%= unit_form.number_field :ply, min: 1, required: true %>
                </div>
                <div class="col-sm-2">
                  <label>长</label>
                  <%= unit_form.number_field :length, min: 1, required: true %>
                </div>
                <div class="col-sm-2">
                  <label>宽</label>
                  <%= unit_form.number_field :width, min: 1, required: true %>
                </div>
                <div class="col-sm-2">
                  <label>尺寸</label>
                  <%= unit_form.text_field :size, required: true %>
                </div>
                <div class="col-sm-2">
                  <label>单位</label>
                  <%= unit_form.text_field :uom, required: true %>
                </div>
                <div class="col-sm-2">
                  <label>单价</label>
                  <%= unit_form.number_field :price, min: 0, required: true %>
                </div>
                <div class="col-sm-2">
                  <label>备注</label>
                  <%= unit_form.text_field :note %>
                </div>
                <div class="col-sm-2">
                  <%= unit_form.link_to_remove '删除', class:'btn btn-info btn-xs' %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <%= f.link_to_add '添加部件', :units, data: {target: '#orderUnitsForm'}, class: 'btn btn-info' %>
        </div>
        <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
        <%= f.submit '提交', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>