<script type="text/javascript">
  

</script>

<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 自定义报价单 <small>详细</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '返回', indent_path(@indent), class: 'btn btn-info', data: {toggle:'tooltip'}, title: '返回到上一级' %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header" style="padding: 0px;">
    <%= nested_form_for @order, html: {class: 'form-inline', multipart: true} do |f| %>
    <%#= hidden_field_tag :is_custom, true%>
    <div class="modal-body" style="padding: 5px;">
      <div class="panel panel-default" id="orderUnitsForm">
        <div class="panel-heading order-panel-header">
          <h3 class="panel-title order-panel-header">板料&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to '新建', '#', class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addMaterials'} %>
            <%= f.link_to_add '添加板料', :units, data: {target: '#orderUnitsForm'}, class: 'btn btn-info btn-xs pull-right' %>
          </h3>
        </div>
        <div class="panel-body" style="padding: 5px 0;">
          <%= f.fields_for :units, wrapper: false do |unit_form| %>
          <div class="fields">
          <% uf = unit_form.object %>
          <% if !uf.new_record?  && !uf.is_custom %>
          <% else %>
            <% if uf.new_record? %><!-- 自定义报价才填写这些字段 -->
              <%= unit_form.hidden_field :full_name, value: '自定义' %>
              <%= unit_form.hidden_field :size, value: '自定义' %>
              <%= unit_form.hidden_field :is_custom, value: true %>
            <% end %>
            <div class="row">
              <div class="col-sm-2">
                <label>厚度</label>
                <%= unit_form.collection_select :ply, MaterialCategory.where(oftype: MaterialCategory.oftypes[:ply]).order("oftype"), :id, :name, {selected: uf.new_record? ? @order.ply : uf.ply}, {class: 'form-control material-ply', onchange: "getMaterialPrice(this)"}  %>
              </div>
              <div class="col-sm-2">
                <label><span class="require">*</span>单位</label>
                <%= unit_form.text_field :uom, value: uf.new_record? ? '平方' : uf.uom, class: 'form-control material-uom',style: 'width: 60%', required: true  %>
              </div>
              <div class="col-sm-2">
                <label><span class="require">*</span>单价</label>
                <%= unit_form.number_field :price, min: 0, step: 0.01, value: uf.new_record? ? Material.find_by(ply: @order.ply, texture: @order.texture, color: @order.color).try(:price) : uf.price, class: 'form-control material-price',style: 'width: 60%', required: true  %>
              </div>
              <div class="col-sm-2">
                <label><span class="require">*</span>数量</label>
                <%= unit_form.text_field :number, min: 0, step: 0.01, value: uf.new_record? ? 1 : uf.number, class: 'form-control',style: 'width: 60%',required: true  %>
              </div>
            </div>
            <div class="row" style="padding-top: 5px;">
              <div class="col-sm-2">
                <label>材质</label>
                <%= unit_form.collection_select :texture, MaterialCategory.where(oftype: MaterialCategory.oftypes[:texture]).order("oftype"), :id, :name,{selected: uf.new_record? ? @order.texture : uf.texture},{class: 'form-control material-texture', onchange: "getMaterialPrice(this)"}  %>
              </div>
              <div class="col-sm-2">
                <label>颜色</label>
                <%= unit_form.collection_select :color, MaterialCategory.where(oftype: MaterialCategory.oftypes[:color]).order("oftype"), :id, :name,{selected: uf.new_record? ? @order.color : uf.texture},{class: 'form-control material-color', onchange: "getMaterialPrice(this)"} %>
              </div>
              <div class="col-sm-5">
                <label>备注</label>
                <%= unit_form.text_field :note, value: uf.new_record? ? '' : uf.note, class: 'form-control', style: 'width: 95%' %>
              </div>
              <div class="col-sm-1 pull-right text-center">
                <%= unit_form.link_to_remove '删除', class:'btn btn-info btn-sm' %>
              </div>
            </div>
            <hr style="margin: 5px 0;" />
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading order-panel-header">
          <h3 class="panel-title order-panel-header">配件&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to '新建', '#', class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addPartCategories'} %>
            <%= f.link_to_add '添加配件', :parts, data: {target: '#orderPartsForm'}, class: 'btn btn-info btn-xs pull-right' %>
          </h3>
        </div>
        <div class="panel-body" style="padding: 5px 0;">
          <div id="orderPartsForm">
            <%= f.fields_for :parts, wrapper: false do |part_form| %>
            <div class="fields">
              <div class="row">
                <% pf = part_form.object %>
                <div class="col-sm-2">
                  <label>基本类型</label>
                  <%= part_form.collection_select :part_category_id, PartCategory.where(parent_id: 0), :id, :name, {}, {class: 'form-control parent-part-category', onchange: 'setChildPartCategory(this)'}%>
                </div>
                <div class="col-sm-2">
                  <label>类型</label>
                  <%= part_form.collection_select :part_category_id, PartCategory.where(parent_id: 1), :id, :name,{},{class: 'form-control child-part-category', onchange: 'setPartCategoryPrice(this)'}%>
                </div>
                <div class="col-sm-1">
                  <label><span class="require">*</span>单位</label>
                  <%= part_form.text_field :uom, value: pf.new_record? ? '个' : pf.uom, class: 'form-control part-category-uom',style: 'width: 60%', required: true  %>
                </div>
                <div class="col-sm-2">
                  <label><span class="require">*</span>单价</label>
                  <%= part_form.number_field :price, min: 0, step: 0.01, value: pf.new_record? ? 0 : pf.price,class: 'form-control part-category-price', style: 'width: 60%', required: true  %>
                </div>
                <div class="col-sm-2">
                  <label><span class="require">*</span>数量</label>
                  <%= part_form.number_field :number, min: 0, step: 0.01, value: pf.new_record? ? 1 : pf.number,class: 'form-control',style: 'width: 60%', required: true  %>
                </div>
                <div class="col-sm-2">
                  <label>供应商</label>
                  <%= part_form.collection_select :supply_id, Supply.all, :id, :full_name, {}, {class: 'form-control part-category-supply'} %>
                </div>
                <div class="col-sm-1 text-center">
                  <%= part_form.link_to_remove '删除', class:'btn btn-info btn-sm' %>
                </div>
              </div>
              <hr style="margin: 5px 0;" />
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading order-panel-header">
          <h3 class="panel-title order-panel-header">工艺&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to '新建', '#', disabled: true, class: 'btn btn-info btn-xs', data: { toggle: 'tooltip'}, title: '新建工艺（暂未开放）' %>
            <%= f.link_to_add '添加工艺', :crafts, data: {target: '#orderCraftsForm'}, class: 'btn btn-info btn-xs pull-right' %>
          </h3>
        </div>
        <div class="panel-body" style="padding: 5px 0;">
          <div id="orderCraftsForm">
            <%= f.fields_for :crafts, wrapper: false do |craft_form| %>
            <div class="fields">
              <div class="row">
                <% cf = craft_form.object %>
                <div class="col-sm-2">
                  <label><span class="require">*</span>名称</label>
                  <%= craft_form.text_field :full_name, value: cf.new_record? ? '' : cf.full_name,class: 'form-control',style: 'width: 60%', required: true %>
                </div>
                <div class="col-sm-2">
                  <label><span class="require">*</span>单位</label>
                  <%= craft_form.text_field :uom, value: cf.new_record? ? '次' : cf.uom ,class: 'form-control',style: 'width: 60%', required: true %>
                </div>
                <div class="col-sm-2">
                  <label><span class="require">*</span>单价</label>
                  <%= craft_form.number_field :price, min: 0, step: 0.01, value: cf.new_record? ? 0 : cf.price,class: 'form-control',style: 'width: 60%', required: true %>
                </div>
                <div class="col-sm-2">
                  <label><span class="require">*</span>数量</label>
                  <%= craft_form.number_field :number, min: 0, step: 0.01, value: cf.new_record? ? 1 : cf.number,class: 'form-control',style: 'width: 60%', required: true %>
                </div>
                <div class="col-sm-3">
                  <label>备注</label>
                  <%= craft_form.text_field :note, value: cf.new_record? ? '' : cf.note ,class: 'form-control',style: 'width: 60%'%>
                </div>
                <div class="col-sm-1 text-center">
                  <%= craft_form.link_to_remove '删除', class:'btn btn-info btn-sm' %>
                </div>
              </div>
              <hr style="margin: 5px 0;" />
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row" style="padding: 0 20px 10px 20px;">
        <div class="pull-left">
          
          
          
          
          
        </div>
        <div class="pull-right">
          <%= f.submit '提交', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= render '/materials/new' %>
<%= render '/part_categories/new' %>
