<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 自定义报价单 <small>
      订单号：<code><%= @order.name %></code>&nbsp;&nbsp;
      代理商:&nbsp;&nbsp;<code><%= @indent.agent.try(:full_name)[0,4] %></code>&nbsp;&nbsp;
      终端客户:&nbsp;&nbsp;<code><%= @indent.customer[0,4] %></code>&nbsp;&nbsp;
      状态:&nbsp;&nbsp;<code><%= @indent.status_name %></code>
      </small>
      </h2>
      <div class="pull-right panel-options">
        <%= link_to '返回', indent_path(@indent), class: 'btn btn-info', data: {toggle:'tooltip'}, title: '返回到上一级' %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header" style="padding: 0px;">
    <%= nested_form_for @order, html: {class: 'form-inline', multipart: true, id: 'custom-offer-fields'} do |f| %>
    <%#= hidden_field_tag :is_custom, true%>
    <div class="modal-body" style="padding: 5px;">
      <!-- 部件 -->
      <% if @order.order_category.name == '配件' && @order.ply == 0 && @order.texture == 0 && @order.color == 0 %>
      <!-- 子订单为“配件补单” 时，不显示添加部件选项，保留此区域以备添加逻辑 -->
      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading order-panel-header">
          <h3 class="panel-title order-panel-header">板料&nbsp;&nbsp;&nbsp;&nbsp;
          </h3>
        </div>
        <div class="panel-body" id="orderUnitsForm" style="padding: 5px 0;">
          <%= f.fields_for :units, wrapper: false do |unit_form| %>
          <div class="fields">
            <% uf = unit_form.object %>
            <% if !uf.new_record? && !uf.is_custom %>
            <% else %>
            <% if uf.new_record? %><!-- 自定义报价才填写这些字段 -->
            <%#= unit_form.hidden_field :full_name, value: '自定义' %>
            <%= unit_form.hidden_field :size, value: '自定义' %>
            <%= unit_form.hidden_field :is_custom, value: true %>
            <% end %>
            <div class="row">
              <div class="col-sm-11"> 
                <div class="row">
                  <label class="col-sm-1 text-right control-label" style="margin: 7px 0;"><span class="require">*</span>名称</label>
                  <%= unit_form.text_field :full_name, maxlength: 15, value: uf.new_record? ? @order.note : uf.full_name, class:'col-sm-2', required: true, placeholder: '请填写部件名称' %>
                  <label class="col-sm-1 text-right control-label" style="margin: 7px 0;"><span class="require">*</span>板料</label>
                  <div class="col-sm-5" style="padding: 0px;">
                    <%= unit_form.select :ply, raw("<option value='#{uf.new_record? ? @order.ply : uf.ply}' selected='selected'>#{MaterialCategory.find_by_id(uf.new_record? ? @order.ply : uf.ply).try(:name)}</option>"), {}, class: "material-ply", style: 'width: 20%;', required: true, onchange: 'getMaterialPrice(this)' %>
                    <%= unit_form.select :texture, raw("<option value='#{uf.new_record? ? @order.texture : uf.texture}' selected='selected'>#{MaterialCategory.find_by_id(uf.new_record? ? @order.texture : uf.texture).try(:name)}</option>"), {}, class: "material-texture", style: 'width: 38%;', required: true, onchange: 'getMaterialPrice(this)' %>
                    <%= unit_form.select :color, raw("<option value='#{uf.new_record? ? @order.color : uf.color}' selected='selected'>#{MaterialCategory.find_by_id(uf.new_record? ? @order.color : uf.color).try(:name)}</option>"), {}, class: "material-color", style: 'width: 38%;', required: true, onchange: 'getMaterialPrice(this)' %>
                    <!-- <select class="custom-offer-material-ply" style="width: 20%;" required="required">
                      <option value="<%#= uf.new_record? ? @order.ply : uf.ply %>"><%#= MaterialCategory.find_by_id(uf.new_record? ? @order.ply : uf.ply).try(:name) %></option>
                    </select> -->
                   <!--  <select class="custom-offer-material-texture" style="width: 38%;" required="required">
                      <option value="<%#= uf.new_record? ? @order.texture : uf.texture %>"><%#= MaterialCategory.find_by_id(uf.new_record? ? @order.texture : uf.texture).try(:name) %></option>
                    </select>
                    <select class="custom-offer-material-color" style="width: 38%;" required="required">
                      <option value="<%#= uf.new_record? ? @order.color : uf.color %>"><%#= MaterialCategory.find_by_id(uf.new_record? ? @order.color : uf.color).try(:name) %></option>
                    </select> -->
                  </div>
                  <label class="col-sm-1 text-right control-label" style="margin: 7px 0;"><span class="require">*</span>单位</label>
                  <%= unit_form.collection_select :uom, Uom.where(deleted: false), :name, :name, {include_blank: '请选择', selected: '平方'}, {required: true, class: 'material-uom col-sm-2'} %>
                </div>
                <div class="row">
                  <label class="col-sm-1 text-right control-label" style="margin: 7px 0;"><span class="require">*</span>单价</label>
                  <%= unit_form.number_field :price, min: 0, step: 0.01, value: uf.new_record? ? @order.material_price : uf.price, required: true, class: 'material-price col-sm-2'  %>
                  <label class="col-sm-1 text-right control-label" style="margin: 7px 0;"><span class="require">*</span>长宽</label>
                  <%= unit_form.number_field :length, min: 0, max: 999999, step: 0.01, value: uf.new_record? ? 1 : uf.length, class: 'order-unit-length col-sm-1', onchange: 'setOrderUnitSize(this)', onblur: 'setOrderUnitSize(this)', required: true %>
                  <%= unit_form.number_field :width, min: 0, max: 999999, step: 0.01, value: uf.new_record? ? 1 : uf.width, class: 'order-unit-width col-sm-1', onchange: 'setOrderUnitSize(this)', onblur: 'setOrderUnitSize(this)', required: true %>
                  <%= unit_form.text_field :size, maxlength: 15, value: uf.new_record? ? '' : uf.size, class: 'order-unit-size col-sm-3', placeholder: '请填写成型尺寸', onchange: 'setOrderUnitLengthWidth(this)', onblur: 'setOrderUnitLengthWidth(this)' %>
                  <label class="col-sm-1 text-right control-label" style="margin: 7px 0;"><span class="require">*</span>数量</label>
                  <%= unit_form.text_field :number, min: 0, max: 999999, step: 0.01, value: uf.new_record? ? 1 : uf.number, class: 'col-sm-2', required: true  %>
                </div>
                <div class="row">
                  <label class="col-sm-1 text-right control-label" style="margin: 7px 0;">备注</label>
                  <%= unit_form.text_field :note, value: uf.new_record? ? @order.note : uf.note, maxlength: 25, class: 'col-sm-11', placeholder: '请填写备注信息' %>
                </div>
              </div>
              <div class="col-sm-1 text-center" style="margin: 30px 0;">
                <%= unit_form.link_to_remove '删除', class:'btn btn-info hidden' %>
                <%= link_to "删除", "javascript:void(0);", class: 'btn btn-info', onclick: 'delete_separate_from_nested_form(this)', style: 'margin-top: 5px;' %>
              </div>
            </div>
            <hr style="margin: 5px 0;" />
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="panel-footer" style="padding: 5px;">
          <%= link_to '新建基础板料', '#', class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addMaterials'}, title: '创建新的基础板料' %>
          <%= f.link_to_add '添加板料', :units, data: {target: '#orderUnitsForm'}, class: 'btn btn-info btn-xs pull-right', title: '报价单添加新板料到拆单数据' %>
        </div>
      </div>
      <% end %>
      <!-- <div class="panel panel-default">
        <div class="panel-heading order-panel-header">
          <h3 class="panel-title order-panel-header">配件&nbsp;&nbsp;&nbsp;&nbsp;
          </h3>
        </div>
        <div class="panel-body" id="orderPartsForm" style="padding: 5px 0;">
          <%#= f.fields_for :parts, wrapper: false do |part_form| %>
          <div class="fields">
            <%# pf = part_form.object %>
            <div class="row">
              <div class="col-sm-11">
                <div class="row">
                  <div class="">
                    <label class="col-sm-1 text-right" style="margin: 7px 0;"><span class="require">*</span>类型</label>
                    <%#= part_form.collection_select :part_category_id, PartCategory.where(parent_id:0), :id, :name, {selected: PartCategory.find_by_id(pf.part_category_id).try(:parent_id), include_blank: "请选择"}, {required: true, class: 'parent-part-category col-sm-1', onchange: 'setChildPartCategory(this)'} %>
                    <%#= part_form.collection_select :part_category_id, PartCategory.where.not(parent_id:0), :id, :name, {selected: pf.part_category_id, include_blank: "请选择"}, {required: true, class: 'child-part-category col-sm-2', onchange: 'setPartCategoryPrice(this)'} %>
                  </div>
                  <label class="col-sm-1 text-right" style="margin: 7px 0;"><span class="require">*</span>单位</label>
                  <%#= part_form.collection_select :uom, Uom.where(deleted: false), :name, :name, {value: pf.uom, include_blank: "请选择"}, {required: true, class: 'part-category-uom col-sm-1'}%>
                  <label class="col-sm-1 text-right" style="margin: 7px 0;">单价</label>
                  <%#= part_form.number_field :price, min: 0, max: 999999, step: 0.01, value: pf.new_record? ? 0 : pf.price, class: 'part-category-price col-sm-1', required: true  %>
                  <label class="col-sm-1 text-right" style="margin: 7px 0;">数量</label>
                  <%#= part_form.number_field :number, min: 0, max: 999999, step: 0.01, value: pf.new_record? ? 1 : pf.number, required: true, class: "col-sm-1" %>
                  <label class="col-sm-1 text-right" style="margin: 7px 0;"><span class="require">*</span>供应商</label>
                  <%#= part_form.collection_select :supply_id, Supply.all, :id, :full_name, {selected: pf.supply_id,include_blank: "请选择"}, {required: true, class: "part-category-supply col-sm-1"}%>
                </div>
                <div class="row">
                  <label class="col-sm-1 text-right" style="margin: 7px 0;">备注</label>
                  <%#= part_form.text_field :note, maxlength: 50, value: pf.new_record? ? @order.note : pf.note, class: 'col-sm-11', placeholder: '请填写备注信息'%>
                </div>
              </div>
              <div class="col-sm-1 text-center" style="margin: 14px 0;">
                <%#= part_form.link_to_remove '删除', class:'btn btn-info hidden' %>
                <%#= link_to "删除", "javascript:void(0);", class: 'btn btn-info', onclick: 'delete_separate_from_nested_form(this)' %>
              </div>
            </div>
            <hr style="margin: 5px 0;" />
          </div>
          <%# end %>
        </div>
        <div class="panel-footer" style="padding: 5px;">
          <%#= link_to '新建基础配件', '#', class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addPartCategories'}, title: '创建新的基础配件' %>
          <%#= f.link_to_add '添加配件', :parts, data: {target: '#orderPartsForm'}, class: 'btn btn-info btn-xs pull-right', title: '报价单添加新配件到拆单数据' %>
        </div>
      </div> -->
      <!-- 工艺 -->
      <div class="panel panel-default">
        <div class="panel-heading order-panel-header">
          <h3 class="panel-title order-panel-header">工艺</h3>
        </div>
        <div class="panel-body" id="orderCraftsForm" style="padding: 5px 0;">
          <%= f.fields_for :crafts, wrapper: false do |craft_form| %>
          <div class="fields">
            <% cf = craft_form.object %>
            <div class="row">
              <div class="col-sm-11">
                <div class="row">
                  <label class="col-sm-1 text-right" style="margin: 7px 0;"><span class="require">*</span>名称</label>
                  <%= craft_form.collection_select :craft_category_id, CraftCategory.where(deleted: false), :id, :full_name, {include_blank: '请选择'}, {class: 'col-sm-3', required: true, onchange: 'setCraft(this)'}%>
                  <label class="col-sm-1 text-right" style="margin: 7px 0;"><span class="require">*</span>单位</label>
                  <%= craft_form.collection_select :uom, Uom.where(deleted: false), :name, :name, {include_blank: '请选择'}, {class: 'col-sm-1 order_craft_uom', required: true} %>
                  <label class="col-sm-1 text-right" style="margin: 7px 0;"><span class="require">*</span>单价</label>
                  <%= craft_form.number_field :price, min: 0, max: 999999, step: 0.01, value: cf.new_record? ? 0 : cf.price, required: true, class: 'col-sm-1 order_craft_price' %>
                  <label class="col-sm-1 text-right" style="margin: 7px 0;"><span class="require">*</span>数量</label>
                  <%= craft_form.number_field :number, min: 0, max: 999999, step: 0.01, value: cf.new_record? ? 1 : cf.number, class: 'col-sm-1', required: true %>
                </div>
                <div class="row">
                  <label class="col-sm-1 text-right">备注</label>
                  <%= craft_form.text_field :note, maxlength: 50, value: cf.new_record? ? '' : cf.note, class: 'col-sm-11', placeholder: '请填写备注信息'%>
                </div>
              </div>
              <div class="col-sm-1 text-center" style="margin: 12px 0;">
                <%= craft_form.link_to_remove '删除', class:'btn btn-info hidden' %>
                <%= link_to "删除", "javascript:void(0);", class: 'btn btn-info', onclick: 'delete_separate_from_nested_form(this)' %>
              </div>
            </div>
            <hr style="margin: 5px 0;" />
          </div>
          <% end %>
        </div>
        <div class="panel-footer" style="padding: 5px;">
          <%= link_to '新建基础工艺', '#', class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addCraftCategory'}, title: '创建新的基础工艺' %>
          <%= f.link_to_add '添加工艺', :crafts, data: {target: '#orderCraftsForm'}, class: 'btn btn-info btn-xs pull-right', title: '报价单添加新工艺到拆单数据' %>
        </div>
      </div>
      <!-- 配件 -->
      <div class="panel panel-default">
        <div class="panel-heading order-panel-header">
          <h3 class="panel-title order-panel-header">配件</h3>
        </div>
        <div class="panel-body" id="orderPartsForm" style="padding: 0;">
          <!-- Nav tabs -->
          <% root_pcs = PartCategory.root %>
          <ul class="nav nav-tabs" role="tablist">
            <% root_pcs.each_with_index do |root_pc, index| %>
            <li role="presentation" class="text-center <%= 'active' if index == 0 %>" style="width: 10%;">
              <a href="#pc-<%= root_pc.id %>" role="tab" data-toggle="tab"><%= root_pc.name %></a>
            </li>
            <% end %>
          </ul>
          <div class="table-responsive" style="height: 396px;">
            <!-- Tab panes -->
            <div class="tab-content" style="padding: 5px;">
              <% root_pcs.each_with_index do |root_pc, index| %>
              <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="pc-<%= root_pc.id %>">
                <div class="row" style="margin: 0px;">
                  <% root_pc.children.each do |pc| %>
                  <% part = Part.find_by(part_category_id: pc.id, order_id: @order.id) || Part.new %>
                  <div class="col-md-3" style="height: 120px; margin-bottom: 8px; padding: 0 8px;">
                    <div style="border: 1px solid #A0A0A0; border-radius: 4px; padding: 4px; height: 100%; text-align: center; background-color: #fff;">
                      <p style="width: 100%; font-weight: bold;"><%= pc.name %></p>
                      <%= f.fields_for :parts, part do |p| %>
                      <%= p.hidden_field :part_category_id, value: pc.id %>
                      <%= p.hidden_field :supply_id, value: pc.supply_id %>
                      <div class="input-group">
                        <%= p.number_field :number, min: 0, max: 999999, step: 0.01, value: part.new_record? ? nil : part.number, placeholder: '数量', class: 'form-control' %>
                        <span class="input-group-addon">×</span>
                        <%= p.number_field :price, min: 0, max: 999999, step: 0.01, placeholder: '单价', value: part.price || pc.price, class: 'form-control' %>
                        <span class="input-group-addon">元</span>
                      </div>
                      <div class="input-group" style="margin-top: 5px; width: 100%;">
                        <span class="input-group-addon" title="修改子订单配件单位时，数量不能为零。" style="width: 30%;">单位</span>
                        <%= p.collection_select :uom, Uom.where(deleted: false), :name, :name, {selected: part.uom || pc.uom}, class: 'form-control' %>
                      </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-footer" style="padding: 5px;">
          <%= link_to '新建基础配件', '#', class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addPartCategories'}, title: '创建新的基础配件' %>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row" style="padding: 0 20px 10px 20px;">
        <div class="pull-right">
          <%= f.submit '提交', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= render '/materials/new' %>
<%= render '/part_categories/new' %>
<%= render '/craft_categories/new' %>
<script type="text/javascript">
function delete_separate_from_nested_form(target){
  var order_fields = $(target).parent().siblings(".col-sm-11");
  var required_order_fields = order_fields.find("[required='required']");
  // console.log(required_order_fields);
  // 动态删除子订单前，将必填项的值设为1
  required_order_fields.each(function(){
    var element = $(this);
    if(element.is("select")){
      element.children().last().attr("selected", "selected");
    }else{
      element.val("1");
    }
  });
  $(target).prev().click();
}
</script>