<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 订单 <small>列表</small> </h2>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <!-- <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <#% PartCategory.group(:name).map(&:name).push('所有').each do |k| %>
        <%#= link_to k, parts_path(name: k), class: "btn btn-default #{'btn-primary' if params[:name].presence == k}" %>
        <%# end %>
      </div>
    </div> -->
    <% if params[:start_at] || params[:end_at] || params[:agent_id]%>
    <% @agent_search = Agent.find_by_id(params[:agent_id])%>
    <% end%>
    <div class="row content-table">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <div class="row">
            <%= form_tag orders_path, class: 'form-inline', method: 'get' do %>
            <div class="col-sm-10">
              <div class="form-group" style="width: 100%;">
                <label class="col-sm-1 control-label text-right" for="start_at">下单时间</label>
                <div class="col-sm-5" style="padding-right: 0px;">
                  <%= date_field_tag :start_at, @start_at, class: '', data: {provide: 'datepicker'}, placeholder: '请选择起始日期',required: true, class: 'form-control', style: 'width: 49%;' %>
                  <%= date_field_tag :end_at, @end_at, class: '', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',required: true, class: 'form-control', style: 'width: 49%;' %>
                </div>
                <div class="col-sm-2" style="padding-left: 0px;">
                  <%= select_tag :user_id, options_for_select(User.all.map{|r|[r.username, r.id]}, params[:user_id].presence || @user_id), prompt: '全部', class: 'form-control', style: 'width: 96%;' %>
                </div>
                <label class="col-sm-1 control-label text-right">订单类型</label>
                <div class="col-sm-3" style="padding-right: 0px;">
                  <div class="input-group" style="width: 100%;">
                    <%= select_tag :order_category_id, options_from_collection_for_select(OrderCategory.all, :id, :name, @order_category_id), {include_blank: '请选择', class: 'form-control'} %>
                    <div class="input-group-addon">-</div>
                    <%= select_tag :oftype, options_from_collection_for_select(Order.oftype, :last, :first, @order_oftype), {include_blank: '请选择', class: 'form-control'} %>
                  </div>
                </div>
              </div>
              <div class="form-group" style="width: 100%; margin-top: 5px;">
                <label class="col-sm-1 control-label text-right" for="provide">地区</label>
                <div class="col-sm-7 city-group">
                  <%= select_tag :province, options_from_collection_for_select(@provinces, :id, :name, @province), class: 'form-control orders-search-province', onchange: 'getChinaCity(this);', style: 'width: 30%; padding: 3px;' %>
                  <%= select_tag :city, options_from_collection_for_select(@cities, :id, :name, @city), include_blank: '--城市--', class: 'form-control orders-search-city', onchange: 'getChinaCity(this);', onclick: 'validateCities(this);', style: 'width: 30%; padding: 3px;' %>
                  <%= select_tag :district, options_from_collection_for_select(@districts, :id, :name, @district), include_blank: '--地区--', class: 'form-control orders-search-district', style: 'width: 38%; padding: 3px;' %>
                </div>
                <label class="col-sm-1 control-label text-right">代理/店名</label>
                <div class="col-sm-3" style="padding-right: 0px;">
                  <%= select_tag :agent_id, options_from_collection_for_select(@agents, :id, :full_name, params[:agent_id].presence), include_blank: '请选择', class: 'form-control orders-search-agent', style: 'width: 100%; padding: 5px;' %>
                </div>
              </div>
              <div class="form-group"  style="width: 100%; margin-top: 5px;">
                <label class="col-sm-1 control-label text-right" for="provide">子订单号</label>
                <div class="col-sm-7">
                  <div class="input-group" style="width: 100%;">
                    <%= select_year params[:date].present? ? params[:date][:year].to_i : Date.today.year, {field_name: :year, start_year: 2010, end_year: Date.today.year}, {class: 'form-control'} %>
                    <div class="input-group-addon">年</div>
                    <%#= label_tag '年', nil, class: 'control-label', for: 'date_year', style: 'padding: 0 10px;' %>
                    <%= select_month params[:date].present? ? params[:date][:month].to_i : Date.today.month, {field_name: :month, use_month_numbers: true}, {class: 'form-control'} %>
                    <div class="input-group-addon">月</div>
                    <%#= label_tag '月', nil, class: 'control-label', for: 'date_month', style: 'padding: 0 10px;' %>
                    <%= text_field_tag :name, params[:name].presence || '' , class:'form-control', placeholder: '订单号', data: {toggle: 'tooltip'}, title: '请输入需要查找、打包的订单号' %> <!-- autofocus:true -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 text-center" style="padding: 19px 0;">
              <%= submit_tag '查询', class: 'btn btn-primary', data: {toggle: 'tooltip'}, title: '修改查询条件后，需先点此查询，否则导出结果依然为上次查询结果！' %>
              <%= link_to '导出结果', orders_path(format: "xls", province: params[:province], city: params[:city], district: params[:district], order_category_id: params[:order_category_id], start_at: params[:start_at], end_at: params[:end_at], agent_id: params[:agent_id]), class: 'btn btn-primary', data: {toggle: 'tooltip'}, title: '将查询结果导出到Excel文件' %>
            </div>
            <% end %>
          </div>
          <% if current_user.admin? %>
          <div class="row text-center" style="margin-top: 10px; font-weight: bold;">
            <span title="<%= '柜体总面积：' + @orders_result[:cabinets].round(2).to_s + '，背板总面积：' + @orders_result[:backboard].round(2).to_s %>">订单&nbsp;<code><%= @orders_result[:total] %></code>&nbsp;单（共 <%= @orders_result[:money].round(2) %> 元）其中：</span>
            <span title="<%= '柜体总面积：' + @orders_result[:cupboard_cabinets].round(2).to_s + '，背板总面积：' + @orders_result[:cupboard_backboard].round(2).to_s %>">橱柜&nbsp;<code><%= @orders_result[:cupboard] %></code>&nbsp;单，</span>
            <span title="<%= '柜体总面积：' + @orders_result[:robe_cabinets].round(2).to_s + '，背板总面积：' + @orders_result[:robe_backboard].round(2).to_s %>">衣柜&nbsp;<code><%= @orders_result[:robe] %></code>&nbsp;单，</span>
            <span title="<%= '门板总面积：' + @orders_result[:door_count].round(2).to_s %>">门&nbsp;<code><%= @orders_result[:door] %></code>&nbsp;单，</span>
            <span>配件&nbsp;<code><%= @orders_result[:part] %></code>&nbsp;单，</span>
            <span>其他&nbsp;<code><%= @orders_result[:other] %></code>&nbsp;单</span>
          </div>
          <div class="row text-center" style="margin-top: 10px; font-weight: bold;">
            <span>柜体总面积&nbsp;<code><%= @orders_result[:cabinets].round(2) %></code>&nbsp;</span>
            <span>背板总面积&nbsp;<code><%= @orders_result[:backboard].round(2) %></code>&nbsp;；</span>
            <span>橱柜柜体面积&nbsp;<code><%= @orders_result[:cupboard_cabinets].round(2) %></code>&nbsp;</span>
            <span>橱柜背板面积&nbsp;<code><%= @orders_result[:cupboard_backboard].round(2) %></code>&nbsp;；</span>
            <span>衣柜柜体面积&nbsp;<code><%= @orders_result[:robe_cabinets].round(2) %></code>&nbsp;</span>
            <span>衣柜背板面积&nbsp;<code><%= @orders_result[:robe_backboard].round(2) %></code>&nbsp;；</span>
            <span>门板面积&nbsp;<code><%= @orders_result[:door_count].round(2) %></code>&nbsp;</span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center order-index-table">
        <tr>
          <th>订单号</th>
          <th colspan="2">类型</th>
          <th>代理商</th>
          <th>终端客户</th>
          <th>收货地址</th>
          <!-- <th>长</th>
          <th>宽</th>
          <th>高</th> -->
          <th data-toggle="tooltip" title="子订单金额">金额</th>
          <th>板料数量</th>
          <th>负责人</th>
          <th>状态</th>
          <th>件数</th>
          <th>到款状态</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
        <% @orders.each do |o| %>
        <tr class="<%= 'danger' if (o.indent.require_at.to_date - Date.today) < 0%>">
          <td class="text-left"><%= link_to o.name, indent_path(o.indent.id), data: {toggle: 'tooltip'}, title: '查看子订单详细信息' %></td>
          <td><%= o.order_category.try(:name) %></td>
          <td><%= o.oftype_name %></td>
          <td><%= o.indent.agent.try(:full_name) %></td>
          <td><%= o.indent.customer %></td>
          <td><%= o.delivery_address %></td>
          <!-- <td class="col-sm-1"><%= o.length %></td>
          <td class="col-sm-1"><%#= o.width %></td>
          <td class="col-sm-1"><%#= o.height %></td> -->
          <td data-toggle="tooltip" title="子订单金额"><%= o.price %></td>
          <td><%= o.material_number %></td>
          <td><%= User.find_by(id: o.handler).try(:username).presence || User.find_by(id: o.handler).try(:email) || "无" %></td>
          <td><%= o.status_name %></td>
          <td><%= o.packages.pluck(:label_size).sum %></td>
          <td class="<%= 'success' if o.income_status == '全款' %>"><%= o.income_status %></td>
          <td><%= o.note %></td>
          <td>
            <%= link_to '到款', '#', class: "btn btn-primary btn-xs #{o.income_status == '全款' ? 'disabled' : ''}", data: {toggle: 'modal', target: '#addIncomes', order: o, username: current_user.username}, id: 'addIncomesBtn' %>
            <!-- 单签订单有收入记录、且有其他欠款订单欠款时，才能点击按钮 -->
            <%= link_to '转款', change_income_order_path(o), class: "btn btn-primary btn-xs #{o.incomes.pluck(:money).sum > 0 && o.agent.orders.where("arrear > 0 AND id <> ?", o.id).present? ? '' : 'disabled'}", data: {toggle: 'modal', target: '#changeIncomes' } %>
            <%= link_to '生产', order_path(id: o.id, order: {status: 'producing'}),method: :put, class: "btn btn-primary btn-xs #{Order.statuses[o.status] >= 2 ? '' : 'disabled'}", data: {toggle: 'tooltip'}, title: '开始生产此订单' %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="pages pull-right">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>
<%= render '/incomes/new' %>
<!-- Modal -->
<div class="modal fade" id="changeIncomes" tabindex="-1" role="dialog" aria-labelledby="changeIncomesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 50%;">
    <div class="modal-content">
    </div>
  </div>
</div>
<script type="text/javascript">
$("#changeIncomes").on("hidden.bs.modal", function(e){
$(this).removeData("bs.modal");
});
</script>