<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 订单 <small>列表</small> </h2>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <!-- <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <% PartCategory.group(:name).map(&:name).push('所有').each do |k| %>
        <%= link_to k, parts_path(name: k), class: "btn btn-default #{'btn-primary' if params[:name].presence == k}" %>
        <% end %>
      </div>
    </div> -->
    <% if params[:start_at] || params[:end_at] || params[:agent_id]%>
    <% @agent_search = Agent.find_by_id(params[:agent_id])%>
    <% end%>
    <div class="row content-table">
      <%= form_tag orders_path, class: 'form-inline', method: 'get' do %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-10">
              <div class="row">
                <label class="col-sm-2 text-right" style="margin-top: 5px;">下单时间</label>
                <%= date_field_tag :start_at, @start_at, class: 'col-sm-2', data: {provide: 'datepicker'}, placeholder: '请选择起始日期',required: true  %>
                <span class="col-sm-1 text-center" style="margin-top: 5px;font-weight: bold;">----</span>
                <%= date_field_tag :end_at, @end_at, class: 'col-sm-2', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',required: true  %>
                <label class="col-sm-2 text-right" style="margin-top: 5px;">店面</label>
                <input type="hidden" id="remoteDataAgent" name='agent_id' data-id="<%=@agent_search.try(:id)%>" data-name="<%=@agent_search.try(:full_name)%>" class="select2 ajax col-sm-2"/>
              </div>
              <div class="row">
                <label class="col-sm-2 text-right" style="margin-top: 5px;">地区 </label>
                <div class="city-group">
                  <%= select_tag(:province, options_for_select(ChinaCity.list.collect {|p| [ p[0], p[1] ] }, @province), { :prompt => "--省份--" , :class => "city-select col-sm-3"}) %>
                  <%= select_tag(:city, options_for_select(ChinaCity.list(@province).collect {|p| [ p[0], p[1] ] }, @city), { :prompt => "--城市--",:class => "city-select col-sm-3" }) %>
                  <%= select_tag(:district, options_for_select(ChinaCity.list(@city).collect {|p| [ p[0], p[1] ] }, @district), { :prompt => "--地区--",:class => "city-select col-sm-3" }) %>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <%= submit_tag '查询', class: 'btn btn-primary btn-lg' %>
              <%= link_to '导出结果', orders_path(format: "xls", start_at: params[:start_at], end_at: params[:end_at], agent_id: params[:agent_id]), class: 'btn btn-primary btn-lg', data: {toggle: 'tooltip'}, title: '将查询结果导出到Excel文件' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center order-index-table">
        <tr>
          <th>订单号</th>
          <th>类型</th>
          <th>代理商</th>
          <th>终端客户</th>
          <!-- <th>长</th>
          <th>宽</th>
          <th>高</th> -->
          <th data-toggle="tooltip" title="子订单金额">金额</th>
          <th>数量</th>
          <th>状态</th>
          <th>到款状态</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
        <% @orders.each do |o| %>
        <tr class="<%= 'danger' if (o.indent.require_at.to_date - Date.today) < 0%>">
          <td class="text-left" class="col-sm-1"><%= link_to o.name, o, data: {toggle: 'tooltip'}, title: '查看子订单详细信息' %></td>
          <td class="col-sm-1"><%= o.order_category.try(:name) %></td>
          <td class="col-sm-1"><%= o.indent.agent.try(:full_name) %></td>
          <td class="col-sm-1"><%= o.indent.customer %></td>
          <!-- <td class="col-sm-1"><%= o.length %></td>
          <td class="col-sm-1"><%= o.width %></td>
          <td class="col-sm-1"><%= o.height %></td> -->
          <td data-toggle="tooltip" title="子订单金额"><%= o.price %></td>
          <td><%= o.number %></td>
          <td><%= o.status_name %></td>
          <td class="<%= 'success' if o.income_status == '全款' %>"><%= o.income_status %></td>
          <td class="col-sm-3"><%= o.note %></td>
          <td class="col-sm-1">
            <% if o.income_status == '全款' %>
            <button class="btn btn-primary btn-xs" disabled="true">到款</button>
            <% else %>
            <%= link_to '到款', '#', class: 'btn btn-primary btn-xs', data: {toggle: 'modal', target: '#addIncomes', order: o.id, amount: o.price, arrear: ((o.price.to_f - o.incomes.pluck(:money).sum.to_f) >0 ? (o.price.to_f - o.incomes.pluck(:money).sum.to_f) : 0), username: current_user.name}, id: 'addIncomesBtn' %>
            <% end %>
            <% if Order.statuses[o.status] >= 2 %>
              <%= link_to '生产', '#', class: 'btn btn-xs btn-primary', disabled: true%>
            <% else %>
            <%= link_to '生产', order_path(id: o.id, order: {status: 'producing'}),method: :put,class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '开始生产此订单' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= render '/incomes/new' %>