<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <!-- Page title -->
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 待发货 <small>列表</small></h2>
      <div class="pull-right panel-options">
        <%= form_for(:sent, html: { class: "form-inline", id: "batch_set"}, method: 'get') do |f| %>
          <input type="hidden" id="sents_ids" name="sent[ids]">
          <button class="btn btn-primary" onclick = "return download();">提交发货清单</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row">
      <% @indents.each do |indent| %>
      <div class="panel-group" style="margin: 0 !important;" id="accordion<%=indent.id%>" role="tablist" aria-multiselectable="true">
        <div class="panel panel-info" style="margin-bottom: 5px;">
          <div class="panel-heading" role="button" id="heading<%=indent.id%>" data-toggle="collapse" data-parent="#accordion<%=indent.id %>" href="#collapse<%= indent.id %>" aria-expanded="true" aria-controls="collapse<%= indent.id %>">
            <div class="panel-title" role="button" style="margin: 0px; padding: 3px;">
              <label>总订单号：<%= indent.name %></label>
              <p class="pull-right" style="font-size: 14px;">
                经销商：<%= indent.agent.full_name %>&nbsp;&nbsp;
                终端客户：<%= indent.customer.truncate(10) %>&nbsp;&nbsp;
                应收款：<%= indent.amount %>&nbsp;&nbsp;
                已收款：<%= indent.amount - indent.arrear %>&nbsp;&nbsp;
                欠款：<%= indent.arrear %>&nbsp;&nbsp;
                状态：<%= indent.status_name %>&nbsp;&nbsp;
                总件数：<%= indent.orders.map{|o| o.packages.map(&:label_size).compact.sum}.flatten.sum %>&nbsp;&nbsp;
                <% if indent.status == Indent.statuses[:packaged] %>
                <%= link_to '添加发货信息', change_sents_path(id: indent.sent.try(:id), indent_or_order_id: indent.id, type: 'indent'), class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addSent'}, id: 'addSentsBtn', title: '添加发货信息' %>
                <% else %>
                <%= link_to '添加发货信息', '#', class: 'btn btn-info btn-xs', data: { confirm: '未完全打包，无法以总订单为单位发货！' }, title: '添加发货信息' %>
                <% end %>
              </p>
            </div>
          </div>
          <div id="collapse<%= indent.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= indent.id %>">
            <div class="panel-body">
              <table class="table table-border">
                <thead>
                  <tr>
                    <td>全选</br>
                      <% if indent.sent || indent.orders.detect{|o| o.sent && o.packaged? } %>
                      <input type="checkbox" name="checkbox" onClick="CheckSelect(<%= indent.id%>)" checked>
                      <% end %>
                    </td>
                    <td>子订单编号</td>
                    <td>类型</td>
                    <td>包装件数</td>
                    <td>入库状态</td>
                    <td>备注</td>
                    <td>发货</td>
                  </tr>
                </thead>
                <tbody>
                  <% indent.orders.each do |order| %>
                  <% next unless order.packaged? %>
                  <tr>
                    <td>
                      <% if order.sent %>
                      <input type="checkbox" name="checkbox" checked class="index_checkbox checkbox-<%= indent.id%>" value="<%=order.sent.id%>" >
                      <%end%>
                    </td>
                    <td><%= order.name %></td>
                    <td><%= order.order_category.name %></td>
                    <td><%= order.packages.map(&:label_size).compact.sum %></td>
                    <td><%= order.status_name %></td>
                    <td><%= order.note %></td>
                    <td><%= link_to '添加发货', change_sents_path(id: order.sent.try(:id), indent_or_order_id: order.id, type: 'order'), class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addSent'}, id: 'addSentsBtn', title: '添加发货信息' %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addSent" tabindex="-1" role="dialog" aria-labelledby="addSentLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 50%;">
    <div class="modal-content">
    </div>
  </div>
</div>
<script type="text/javascript">
$("#addSent").on("hidden.bs.modal", function(e){
$(this).removeData("bs.modal");
});
</script>