<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 已打包订单 <small>列表</small></h2>
    </div>
  </div>
  <!-- Page title -->
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <%= form_tag packaged_orders_path, method: 'get', class: 'form-inline', role: 'form' do %>
          <%= hidden_field_tag :origin, 'packaged' %>
          <div class="form-group">
            <label class="col-sm-2 control-label text-right" for="start_at">下单时间</label>
            <div class="col-sm-5">
              <%= date_field_tag :start_at, params[:start_at].presence || Date.today.beginning_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择起始日期',required: true  %>
            </div>
            <div class="col-sm-5">
              <%= date_field_tag :end_at, params[:end_at].presence || Date.today.end_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',required: true %>
            </div>
          </div>
          <div class="form-group" style="width: 40%;">
            <label class="col-sm-3 control-label text-right" for="agent_id">代理商</label>
            <div class="col-sm-9">
              <%= select_tag :agent_id, raw("<option value='#{@agent_id}'>#{Agent.find_by_id(@agent_id).try(:full_name)}</option>"), class: 'form-control remoteDataAgent', style: 'width:100%;' %>
            </div>
          </div>
          <div class="form-group">
            <%= submit_tag '查询', class: 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <th class="col-sm-1" data-toggle="tooltip" title="点击开始打包">订单号</th>
            <th>类型</th>
            <th>终端客户</th>
            <th>代理商</th>
            <th class="col-sm-2">备注</th>
            <th class="col-sm-1">接单时间</th>
            <th class="col-sm-1">状态</th>
            <th class='col-sm-1'>打包时间</th>
            <th class="col-sm-1">包装件数</th>
            <th class="col-sm-1">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order|%>
          <tr>
            <td><%= link_to order.name, order_path(order), class: 'detail-link', data: {toggle: 'tooltip'}, title: '查看订单详细' %></td>
            <td><%= order.order_category.try(:name) %></td>
            <td><%= order.indent.customer %></td>
            <td><%= order.indent.agent.try(:full_name) %></td>
            <td><%= order.note %></td>
            <td><%= order.created_at.localtime.strftime("%Y-%m-%d") %></td>
            <td><%= order.status_name %></td>
            <td><%= order.packaged_at.localtime.strftime('%Y-%m-%d') %></td> 
            <td><%= order.packages.pluck(:label_size).sum %></td>
            <td>
              <%= link_to "重新打印", package_orders_path(id: order), class: 'btn btn-primary btn-xs'%>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>