<script type="text/javascript">
$(function(){
  // 这里还有很多东西存着，需要clear
  localStorage.clear();
  // localStorage.removeItem('index');
  localStorage.setItem('index', 1);
});
</script>
<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2><i class="fa fa-lg fa-desktop"></i> 包装管理
      <small style="font-size: 14px;">
      订单号：<%= link_to @order.name, indent_path(@order.indent), class: 'detail-link' %>&nbsp;&nbsp;&nbsp;&nbsp;
      下单客户：<%= link_to @order.indent.agent.full_name, agents_path, class: 'detail-link' %>&nbsp;&nbsp;&nbsp;&nbsp;
      终端客户：<%= @order.indent.customer %>&nbsp;&nbsp;&nbsp;&nbsp;
      件数：<%= @order.packages.pluck(:label_size).sum %>
      </small>
      <div class="pull-right panel-options">
        <%= link_to '返回', :back, class: 'btn btn-info' %>
      </div>
      </h2>
    </div>
  </div>
  <div class="content-box-large box-with-header" style="padding-left: 5px; padding-right: 5px;">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-3" style="padding-right: 0px;">
            <%= text_field_tag :unit_part_craft_name, '', autofocus:true, class: 'form-control', style: 'font-size: 18px; font-weight: bold; padding: 5px;', placeholder: '请扫描或者输入条码号' %>
          </div>
          <div class="col-sm-7" style="padding-left: 0px;">
            <div class="row">
              <%= form_tag("/orders/#{@order.id}/package.pdf", method: :post, class: 'form-inline') do |f| %>
              <%= hidden_field_tag 'order_unit_ids', '' %>
              <%= hidden_field_tag 'order_label_size', 0 %><!-- 标签数量 -->
              <%= hidden_field_tag 'is_batch', 0, id: 'order_is_batch' %>
              <div class="col-sm-5" style="padding-right: 0px;">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;尺寸：</label>
                <%= number_field_tag 'length', @length, value: "80", class: "form-control", style: "width: 40px", readOnly: true, id: 'package_label_length' %>
                &nbsp;&nbsp;×&nbsp;&nbsp;
                <%= number_field_tag 'width', @width, value: "60", class: "form-control", style: "width: 40px", readOnly: true, id: 'package_label_width' %>
              </div>
              <div class="col-sm-7 text-right" style="padding: 0px;">
                <% if @order.over? %>
                <button class="btn btn-info" disabled="disabled">上一包</button><button class="btn btn-info" disabled="disabled">下一包</button>
                <button class="btn btn-primary" disabled="disabled">打印当前</button><button class="btn btn-primary" disabled="disabled">批量打印</button>
                <% else %>
                <button class="btn btn-info" onclick="return previous();">上一包</button>
                <button class="btn btn-info" onclick="return next();">下一包</button>
                <button class="btn btn-primary" onclick="return print_current_page();">打印当前</button>
                <button class="btn btn-primary" onclick="return print_pages(this);" data-units="<%= @order_units.map(&:is_printed).uniq.select { |e| !e  }.size %>">批量打印</button>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-sm-2 text-left" style="padding: 0px 4px;">
          <%= form_tag("/orders/#{@order.id}/reprint.pdf", method: :post) do |reprint_form| %>
            <%= hidden_field_tag :length, "80" %>
            <%= hidden_field_tag :width, "60" %>
            <%= hidden_field_tag :label_size %>
            <%= hidden_field_tag :is_batch, 1 %>
            <% if @order.over? %>
            <button class="btn btn-info" disabled="disabled">重新打印</button>
            <% else %>
            <button type="submit" class="btn btn-primary" <%= disabled='disabled' unless @order.packages.pluck(:label_size).sum >= 0 %> onclick="return reprint_set_label_size();">重新打印</button>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" style="box-sizing: border-box;">
          <div class="col-md-4 col-sm-4">
            <table class="table table-hover table-striped table-bordered table-condensed text-center" id="old_table" style="page-break-before:always;border: 1px solid #DDD;">
              <caption style="text-align:center; font-weight: bold; font-size: 20px;">未打包</caption>
              <thead>
                <tr class="info">
                  <th>条码</th>
                  <th>类型</th>
                  <th>名称</th>
                </tr>
              </thead>
              <tbody>
                <% @order_units.each do |order_unit|%>
                <% next if order_unit.is_printed %>
                <tr onclick="remove_order(this)" id="order_unit_<%=order_unit.id%>">
                  <td><%= order_unit.name%></td>
                  <td>部件</td>
                  <td><%= order_unit.full_name%></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 col-sm-4">
            <table class="table table-hover table-striped table-bordered table-condensed text-center" id="new_table" style="page-break-before:always;">
              <caption style="text-align:center; font-weight: bold; font-size: 20px;">已打包</caption>
              <thead>
                <tr class="success">
                  <th>条码</th>
                  <th>类型</th>
                  <th>名称</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 col-sm-4">
            <table class="table table-hover table-striped table-bordered table-condensed text-center" id="printed_table" style="page-break-before:always;border: 1px solid #DDD;">
              <caption style="text-align:center; font-weight: bold; font-size: 20px;">已打印</caption>
              <thead>
                <tr class="info">
                  <th>条码</th>
                  <th>类型</th>
                  <th>名称</th>
                </tr>
              </thead>
              <tbody>
                <% @packages.each do |p|%>
                <% Unit.where(id: p.unit_ids.split(',')).each do |order_unit|%>
                <% next unless order_unit.is_printed %>
                <tr>
                  <td><%= order_unit.name%></td>
                  <td>部件</td>
                  <td><%= order_unit.full_name%></td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>