<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 生产任务 <small>列表</small> </h2>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <!-- <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <% PartCategory.group(:name).map(&:name).push('所有').each do |k| %>
        <%= link_to k, parts_path(name: k), class: "btn btn-default #{'btn-primary' if params[:name].presence == k}" %>
        <% end %>
      </div>
    </div> -->
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th class="col-sm-1">总订单号</th>
            <th class="col-sm-1">子订单号</th>
            <th class="col-sm-1">子订单类型</th>
            <th class="col-sm-1">代理商</th>
            <th class="col-sm-2">终端客户</th>
            <!-- <th>长</th>
            <th>宽</th>
            <th>高</th> 
            <th class="col-sm-1">价格</th>
            <th class="col-sm-1">数量</th>-->
            <th class="col-sm-1">状态</th>
            <th class="col-sm-2">备注</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |o| %>
          <tr>
            <td><%= o.indent.try(:name) %></td>
            <td><%= link_to o.name, o, data: {toggle: 'tooltip'}, title: '查看子订单详细信息' %></td>
            <td><%= o.order_category.try(:name) %></td>
            <td><%= o.indent.agent.try(:full_name) %></td>
            <td><%= o.indent.customer %></td>
            <!-- <td><%= o.length %></td>
            <td><%= o.width %></td>
            <td><%= o.height %></td> 
            <td><%= o.price %></td>
            <td><%= o.number %></td>-->
            <td><%= o.status_name %></td>
            <td style="max-width:300px;"><%= o.note %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>