<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 子订单 <small>详细</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '返回', indent_path(@indent), class: 'btn btn-info', data: {toggle:'tooltip'}, title: '返回到上一级' %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>总订单信息</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>总订单编号</th>
              <td><%= @indent.try(:name) %></td>
            </tr>
            <tr>
              <th>终端客户</th>
              <td><%= @indent.try(:customer) %></td>
            </tr>
            <tr>
              <th>要求物流</th>
              <td><%= @indent.try(:logistics) %></td>
            </tr>
            <tr>
              <th>状态</th>
              <td><%= @indent.status_name %></td>
            </tr>
            <tr>
              <th>金额</th>
              <td><%= @indent.amount %></td>
            </tr>
            <tr>
              <th>备注</th>
              <td style="word-break:break-all;word-wrap:break-word;"><%= @indent.note %></td>
            </tr>
          </table>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>客户信息</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>客户编号</th>
              <td><%= @agent.try(:name) %></td>
            </tr>
            <tr>
              <th>客户名称</th>
              <td><%= @agent.try(:full_name) %></td>
            </tr>
            <tr>
              <th>负责人</th>
              <td><%= @agent.try(:contacts) %></td>
            </tr>
            <tr>
              <th>手机</th>
              <td><%= @agent.try(:mobile) %></td>
            </tr>
            <tr>
              <th>QQ</th>
              <td><%= @agent.try(:e_account) %></td>
            </tr>
            <tr>
              <th>传真</th>
              <td><%= @agent.try(:fax) %></td>
            </tr>
            <tr>
              <th>邮箱</th>
              <td><%= @agent.try(:email) %></td>
            </tr>
            <tr>
              <th>微信</th>
              <td><%= @agent.try(:wechar) %></td>
            </tr>
            <tr>
              <th>要求物流</th>
              <td><%= @agent.try(:logistics) %></td>
            </tr>
            <tr>
              <th>结账周期</th>
              <td><%= @agent.try(:cycle) %></td>
            </tr>
            <tr>
              <th>备注</th>
              <td style="word-break:break-all;word-wrap:break-word;"><%= @agent.try(:note) %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>订单详细</span> <small><%= @order.status_name %></small>
            <div class="pull-right" style="padding: 3px 0;">
              <%= form_tag import_orders_path, multipart: true, id: 'import-form' do %>
              <%= hidden_field_tag :id, @order.id, id: 'import-field-id', class: 'hidden' %>
              <%= file_field_tag :file, accept: 'csv', multiple: false, id: 'import-field-file', class: 'hidden' %>
              <%= link_to '导入拆单', '#', id: 'import-btn', class: 'btn-xs btn-primary', data: {toggle:'tooltip'}, title: '从外部文件导入拆单信息' %>
              <% end %>
            </div>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table-units">
            <tr>
              <th>订单号</th>
              <td colspan="3"><code><%= @order.name %></code></td>
              <th>登记时间</th>
              <td><%= @order.created_at.strftime('%Y-%m-%d') if @indent.created_at.present? %></td>
              <th>确认时间</th>
              <td><%= @indent.verify_at.strftime('%Y-%m-%d') if @indent.verify_at.present? %></td>
              <th>要求出厂</th>
              <td><%= @indent.require_at.strftime('%Y-%m-%d') if @indent.require_at.present? %></td>
              <th>要求物流</th>
              <td><%= @indent.logistics %></td>
            </tr>
            <tr>
              <th>数量</th>
              <td><%= @order.number %></td>
              <th>金额</th>
              <td style="text-align: right;"><%= @order.price.round(2) %></td>
              <th>长</th>
              <td><%= @order.length %></td>
              <th>宽</th>
              <td><%= @order.width %></td>
              <th>高</th>
              <td><%= @order.height %></td>
              <th>类型</th>
              <td><%= OrderCategory.find_by_id(@order.order_category_id).try(:name) %></td>
            </tr>
            <tr>
              <th style="vertical-align: middle;">厚度</th>
              <td><%= MaterialCategory.find_by_id(@order.ply).try(:name) %></td>
              <th style="vertical-align: middle;">材质</th>
              <td><%= MaterialCategory.find_by_id(@order.texture).try(:name) %></td>
              <th style="vertical-align: middle;">颜色</th>
              <td><%= MaterialCategory.find_by_id(@order.color).try(:name) %></td>
              <th style="vertical-align: middle;">备注</th>
              <td colspan="5" style="max-width:200px;word-break:break-all;word-wrap:break-word;"><%= @order.note %></td>
            </tr>
            <tr>
              
            </tr>
            <!-- 板料 start -->
            <tr>
              <td colspan="12"></td>
            </tr>
            <tr>
              <th colspan="12">
                部件信息
                <%= link_to '手动编辑', '#', data: {toggle:'modal', target: '#addOrderUnits'}, class: 'pull-right btn-xs btn-primary' %>
              </th>
            </tr>
            <tr>
              <th>名称</th>
              <th>厚度</th>
              <th>材质</th>
              <th>颜色</th>
              <th>长</th>
              <th>宽</th>
              <th>尺寸</th>
              <th>单位</th>
              <th>单价</th>
              <th>数量</th>
              <th>合计金额</th>
              <th>备注</th>
            </tr>
            <% if @units.present? %>
            <% @units.each do |u| %>
            <tr>
              <td><%= u.full_name %></td>
              <td><%= MaterialCategory.find_by_id(u.ply).try(:name) %></td>
              <td><%= MaterialCategory.find_by_id(u.texture).try(:name) %></td>
              <td><%= MaterialCategory.find_by_id(u.color).try(:name) %></td>
              <td><%= u.length %></td>
              <td><%= u.width %></td>
              <td><%= u.size %></td>
              <td><%= u.uom %></td>
              <td><%= u.price %></td>
              <td><%= u.number %></td>
              <td><%= u.is_custom ? (u.price * u.number).round(2) : (u.price * u.size.split(/[xX*×]/).map(&:to_i).inject(1){|result,item| result*=item}/(1000*1000).to_f * u.number).round(2) %></td>
              <td style="max-width:200px;word-break:break-all;word-wrap:break-word;"><%= u.note %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td colspan="12">暂无部件信息</td>
            </tr>
            <% end %>
            <!-- 板料 end -->
            <!-- 配件 start -->
            <tr>
              <td colspan="12"></td>
            </tr>
            <tr>
              <th colspan="12">
                配件信息
                <%= link_to '手动编辑', '#', data: {toggle:'modal', target: '#addOrderParts'}, class: 'pull-right btn-xs btn-primary' %>
              </th>
            </tr>
            <tr>
              <th colspan="3">名称</th>
              <th>单位</th>
              <th>单价</th>
              <th>数量</th>
              <th colspan="2">合计金额</th>
              <th colspan="4">备注</th>
            </tr>
            <% if @parts.present? %>
            <% @parts.each do |p| %>
            <tr>
              <td colspan="3"><%= p.part_category.try(:name) %></td>
              <td><%= p.uom %></td>
              <td><%= p.price %></td>
              <td><%= p.number %></td>
              <td colspan="2" style="text-align: right"><%= (p.price * p.number).round(2) %></td>
              <td colspan="4"><%= p.note %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td colspan="12">暂无配件信息</td>
            </tr>
            <% end %>
            <!-- 配件 end -->
            <!-- 工艺 start -->
            <tr>
              <td colspan="12"></td>
            </tr>
            <tr>
              <th colspan="12">
                工艺
                <%= link_to '手动编辑', '#', data: {toggle:'modal', target: '#addOrderCrafts'}, class: 'pull-right btn-xs btn-primary' %>
              </th>
            </tr>
            <tr>
              <th colspan="3">名称</th>
              <th>单位</th>
              <th>单价</th>
              <th>数量</th>
              <th colspan="2">合计金额</th>
              <th colspan="4">备注</th>
            </tr>
            <% if @crafts.present? %>
            <% @crafts.each do |c| %>
            <tr>
              <td colspan="3"><%= c.full_name %></td>
              <td><%= c.uom %></td>
              <td><%= c.price %></td>
              <td><%= c.number %></td>
              <td colspan="2" style="text-align: right"><%= (c.price * c.number).round(2) %></td>
              <td colspan="4" style="max-width:200px;word-break:break-all;word-wrap:break-word;"><%= c.note %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td colspan="12">暂无工艺信息</td>
            </tr>
            <% end %>
            <!-- 工艺 end -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'order_units' %>
<%= render 'order_parts' %>
<%= render 'order_crafts' %>