<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 未包装订单 <small>列表</small></h2>
    </div>
  </div>
  
  <!-- Page title -->
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <% searh_order = Order.where("created_at >= ? AND created_at <= ?", Date.today.beginning_of_month, Date.today.end_of_month).order(created_at: :asc).first %>
      <% if searh_order.present? %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body text-center">
          <%= form_tag package_order_path(searh_order), class: 'form-inline', method: 'post' do %>
          <div class="form-group">
            <div class="input-group">
              <%= select_year Date.today.year, {field_name: :year, start_year: 2010, end_year: Date.today.year}, {class: 'form-control'} %>
              <div class="input-group-addon">年</div>
              <%= select_month Date.today.month, {field_name: :month, use_month_numbers: true}, {class: 'form-control'} %>
              <div class="input-group-addon">月</div>
              <%= text_field_tag :name, '', autofocus: true, class:'form-control', placeholder: '订单号', data: {toggle: 'tooltip'}, title: '请输入需要查找、打包的订单号' %>
            </div>
          </div>
          <div class="form-group">
            <%= submit_tag '查询', class: 'btn btn-primary', data: {toggle: "tooltip"}, title: '填写订单后，按 Enter 键（或点此按钮）查询' %>
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="text-center">
        <h1>未找到订单，请检查是否已新建订单！</h1>
      </div>
      <% end %>
    </div>
  </div>
</div>