<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title"><h2><i class="fa fa-lg fa-desktop"></i> 订单类型 <small>列表</small> </h2></div>
    <div class="panel-options">
      <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addOrderCategory'} %>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <th class="text-center">名称</th>
            <th class="text-center">备注</th>
            <th class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @order_categories.each do |oc| %>
          <tr>
            <td><%= oc.name %></td>
            <td><%= oc.note %></td>
            <td><%= link_to '删除', oc, method: :delete, data: { confirm: '警告！ 操作不可逆转，确认删除？' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'new' %>