<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- 图片下面的小导航 -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
  </ol>
  <!-- 滚动主体 -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag asset_path('1.jpg'), class: 'img-responsive center-block' %>
    </div>
    <div class="item">
      <%= image_tag asset_path('2.jpg'), class: 'img-responsive center-block' %>
    </div>
    <div class="item">
      <%= image_tag asset_path('3.jpg'), class: 'img-responsive center-block' %>
    </div>
    <div class="item">
      <%= image_tag asset_path('4.jpg'), class: 'img-responsive center-block' %>
    </div>
    <div class="item">
      <%= image_tag asset_path('5.jpg'), class: 'img-responsive center-block' %>
    </div>
    <div class="item">
      <%= image_tag asset_path('6.jpg'), class: 'img-responsive center-block' %>
    </div>
    <div class="item">
      <%= image_tag asset_path('7.jpg'), class: 'img-responsive center-block' %>
    </div>
  </div>
  <!-- 控制器 -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">上一页</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">下一页</span>
  </a>
</div>