<%= form_for(@supply, url: @supply.new_record? ? supplies_path : supply_path(@supply)) do |f| %>
<div class="modal-body">
  <table class="table table-hover table-striped table-bordered table-condensed">
    <tr>
      <td>
        <%= f.label '编号' %>
      </td>
      <td>
        <%= f.text_field :name,value: "GY"+(Supply.count+1).to_s.rjust(4,"0"),readOnly: true, required: true %>
      </td>
      <td>
	<label><span class="require">*</span>名称</label>
      </td>
      <td>
        <%= f.text_field :full_name, required: true %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '电话' %>
      </td>
      <td>
        <%= f.text_field :mobile %>
      </td>
      <td>
        <%= f.label '账户' %>
      </td>
      <td>
        <%= f.text_field :bank_account %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '地址' %>
      </td>
      <td colspan="3">
        <%= f.text_field :address %>
      </td>
      </tr>
      <tr>
      <td>
        <%= f.label '备注' %>
      </td>
      <td colspan="3">
        <%= f.text_field :note %>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <% if @supply.new_record? %>
  <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <% end %>
  <%= f.submit '提交', class: 'btn btn-primary' %>
</div>
<% end %>
