<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 部件类型 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addUnitCategory'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <th class="text-center">名称</th>
            <th class="text-center">备注</th>
            <th class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @unit_categories.each do |uc| %>
          <tr>
            <td><%= uc.name %></td>
            <td><%= uc.note %></td>
            <td><%= link_to '删除', uc, method: :delete, data: { confirm: '警告！ 操作不可逆转，确认删除？' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'new' %>