<script type="text/javascript">
$("[data-provide=datepicker]").datepicker({
format: 'yyyy-mm-dd',
language: 'zh-CN',
autoclose: true
});
$(".remoteDataAgent").select2({
  language: 'zh-CN',
  theme: 'bootstrap',
  // placeholder: "搜索代理商名称",
  minimumInputLength: 0,
  // width: '100%',
  ajax: {
    url: '/agents.json',
    dataType: 'json',
    delay: 250,
    cache: true,
    data: function(params){
      return {
        term: params.term,
        page: params.page || 1
      };
    },
    processResults: function(data, params){
      params.page = params.page || 1;
      return {
        results: data.agents,
        pagination: {
          more: (params.page * 6) < data.total
        }
      };
    }
  }
}).on("select2:select", function(e){
  var $select2 = $(this);
  $.ajax({
    url: "/agents/" + $select2.val(),
    dataType: 'json',
    type: 'GET',
    success: function(data){
      var $panels = $select2.parents(".panel-heading");
      $panels.find("#indent_logistics").val(data.logistics);
      $panels.find("#indent_delivery_address").val(data.delivery_address);
    },
    error: function(data){
      jsNoty("网络错误！","error");
    }
  });
});
</script>
<%= nested_form_for @indent, url: @indent.new_record? ? indents_path : indent_path(@indent), html: {class: 'form-inline', multipart: true, id: 'indent_form_fields'} do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="addIndentLabel"> 订单
  <small><%= @indent.new_record? ? "新建" : "编辑" %></small>
  <small style="font-weight: bold; color: #000; margin-left: 20px;">总订单号：<%= @indent.name %></small>
  </h4>
</div>
<div class="modal-body" style="padding-bottom: 0px;">
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-heading">
      <div class="row">
        <%= f.hidden_field :name, value: @indent.name %>
        <label for="indent_customer" class="col-sm-1 control-label text-right"><span class="require">*</span>终端客户</label>
        <div class="col-sm-3" style="padding: 0px">
          <%= f.text_field :customer, maxlength: 10, class: 'form-control', required: true, style: 'width: 100%;' %>
        </div>
        <label for="indent_agent_id" class="col-sm-1 control-label text-right"><span class="require">*</span>代理商</label>
        <div class="col-sm-3" style="padding: 0px;">
          <div class="col-sm-8" style="padding: 0px;">
            <select name="indent[agent_id]" class="remoteDataAgent" required="required" style="width: 100%;">
              <option value="<%= @indent.agent.try(:id) %>" selected="selected"><%= @indent.agent.try(:full_name) %></option>
            </select>
          </div>
          <div class="col-sm-4" style="padding: 2px 0px 2px 0px;">
            <%= link_to '新建', '#', data: {toggle: 'modal', target: '#addAgent'}, class: 'btn btn-primary btn-sm pull-right' %>
          </div>
        </div>
        <label for="indent_logistics" class="col-sm-1 control-label text-right"><span class="require">*</span>要求物流</label>
        <div class="col-sm-3" style="padding-left: 0px;">
          <%= f.text_field :logistics, class: 'form-control', maxlength: 15, required: true, style: 'width: 100%;' %>
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <label for="indent_verify_at" class="col-sm-1 control-label text-right"><span class="require">*</span>下单时间</label>
        <div class="col-sm-3" style="padding: 0px;">
          <%= f.date_field :verify_at, class: 'form-control', data: {provide: 'datepicker'}, required: true, style: 'width: 100%;' %>
        </div>
        <label for="indent_require_at" class="col-sm-1 control-label text-right"><span class="require">*</span>要求时间</label>
        <div class="col-sm-3" style="padding: 0px;">
          <%= f.date_field :require_at, class: 'form-control', data: {provide: 'datepicker'}, required: true, style: 'width: 100%;' %>
        </div>
        <label for="indent_delivery_address" class="col-sm-1 control-label text-right"><span class="require">*</span>收货地址</label>
        <div class="col-sm-3" style="padding-left: 0px;">
          <%= f.text_field :delivery_address, maxlength: 10, class: 'form-control', required: true, style: 'width: 100%;' %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="<%= @indent.new_record? ? 'indentOrders' : 'editIndentOrders' %>">
        <%= f.fields_for :orders, :wrapper => false do |order_form| %>
        <div class="fields">
          <div class="row">
            <% of = order_form.object %>
            <!-- 初始下拉框默认选中项 -->
            <% init_ply_id = MaterialCategory.find_by(name: '18mm').try(:id) %>
            <% init_texture_id = MaterialCategory.find_by(name: '颗粒板').try(:id) %>
            <% init_color_id = MaterialCategory.find_by(name: '国色天香').try(:id) %>
            <% init_price = Material.find_by(ply: init_ply_id, texture: init_texture_id, color: init_color_id).try(:price) %>
            <div class="col-sm-1 text-center indent-orders-title" style="margin: 0; padding: 0px;">
              <% if of.new_record? %>
              <h4 style="padding: 16px 0;">子订单</h4>
              <% else %>
              <h4 style="padding-top: 1px;">子订单</h4>
              <p class="indent_orders_name"><%= of.name %></p>
              <%#=order_form.text_field :name, value: of.name, required: true, style: 'width: 95%' %>
              <% end %>
            </div>
            <div class="col-sm-10" style="padding-left: 0px;">
              <div class="row">
                <label class="col-sm-1 text-right" style="margin: 8px 0;"><span class="require">*</span>类型</label>
                <div class="col-sm-3" style="padding: 0px;">
                  <%= order_form.collection_select :order_category_id, OrderCategory.all, :id, :name, {include_blank: '请选择', selected: of.new_record? ? "" : of.order_category_id}, {required: true, class:'form-control', style: 'width: 49%;'} %>
                  <%= order_form.collection_select :oftype, Order.oftype, :last, :first, {}, {class: 'form-control', style: 'width: 49%;'} %>
                </div>
                <label class="col-sm-1 text-right" style="margin: 8px 0;">板料</label>
                <div class="col-sm-5" style="padding: 0px;">
                  <select class="material-ply" style="width: 20%;"></select>
                  <select class="material-texture" style="width: 38%;"></select>
                  <select class="material-color" style="width: 38%;"></select>
                </div>
                <%#= order_form.collection_select :ply, MaterialCategory.where(oftype:MaterialCategory.oftypes[:ply]),:id, :name, {selected: of.new_record? ? init_ply_id : of.ply}, {class: 'col-sm-1 material-ply', onchange: 'getMaterialPrice(this)', style: 'padding: 5px 3px !important;'} %>
                <%#= order_form.collection_select :texture, MaterialCategory.where(oftype:MaterialCategory.oftypes[:texture]), :id, :name, {selected: of.new_record? ? init_texture_id : of.texture}, {class: 'col-sm-2 material-texture', onchange: 'getMaterialPrice(this)'} %>
                <%#= order_form.collection_select :color, MaterialCategory.where(oftype:MaterialCategory.oftypes[:color]), :id, :name,  {selected: of.new_record? ? init_color_id : of.color}, {class: 'col-sm-2 material-color',  onchange: 'getMaterialPrice(this)'} %>
                <label class="col-sm-1 text-right" style="margin: 8px 0;">价格</label>
                <div class="col-sm-1" style="padding: 0px;">
                  <%= order_form.number_field :material_price, min: 0, step: 0.01, value: of.new_record? ? init_price : of.material_price, class: 'form-control material-price', style: 'width: 100%;' %>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-1 text-right" style="margin: 8px 0;">货到</label>
                <div class="col-sm-3" style="padding: 0px;">
                  <%= order_form.text_field :delivery_address, maxlength: 10, class: "form-control", value: of.new_record? ? '' : of.delivery_address, placeholder: '不填则默认为代理商地址', style: 'width: 100%;' %>
                </div>
                <label class="col-sm-1 text-right" style="margin: 8px 0;">备注</label>
                <div class="col-sm-7" style="padding: 0px;">
                  <%= order_form.text_field :note, value: of.new_record? ? '' : of.note, maxlength: 25, class: 'form-control', placeholder: '请填写备注信息', style:'width: 100%;' %>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-center indent-orders-delete">
              <!-- 位置不对 -->
              <%= order_form.link_to_remove '删除', class: 'btn btn-info btn-lg hidden' %>
              <%= link_to "删除", 'javascript:void(0);', class: 'btn btn-info btn-lg', onclick: 'delete_order_from_nested_form(this)' %>
            </div>
          </div>
          <hr style="margin: 5px;">
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-left">
    <%= f.link_to_add '添加子订单', :orders, data: { target: @indent.new_record? ? '#indentOrders' : '#editIndentOrders'}, class: 'btn btn-info' %>
  </div>
  <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= f.submit '提交', class: 'btn btn-primary' %>
</div>
<% end %>
<script type="text/javascript">
function delete_order_from_nested_form(obj){
var order_fields = $(obj).parent().siblings(".col-sm-10");
var required_order_fields = order_fields.find("[required='required']");
// 动态删除子订单前，将必填项的值设为1
required_order_fields.each(function(){
var element = $(this);
if(element.is("select")){
element.children().last().attr("selected", "selected");
}else{
element.val("1");
}
});
$(obj).prev().click();
}
</script>