<!-- Modal -->
<div class="modal fade" id="addIndent" tabindex="-1" role="dialog" aria-labelledby="addIndentLabel">
	<div class="modal-dialog" role="document" style="width: 80%;">
		<div class="modal-content">
			<%= nested_form_for @indent, html: {class: 'form-horizontal', multipart: true} do |f| %>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addIndentLabel"> 订单 <small>新建</small></h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="panel panel-default" style="margin-bottom: 0px;">
					<div class="panel-heading">
						<div class="form-group">
							<label for="indent_name" class="col-sm-2 control-label"><span class="require">*</span>订单编号</label>
							<div class="col-sm-2">
								<%= f.text_field :name, value: @indent.name, class: 'form-control', required: true, readOnly: true %>
							</div>
							<label for="indent_customer" class="col-sm-2 control-label"><span class="require">*</span>终端客户</label>
							<div class="col-sm-2">
								<%= f.text_field :customer, class: 'form-control', required: true %>
							</div>
							<label for="indent_logistics" class="col-sm-2 control-label"><span class="require">*</span>要求物流</label>
							<div class="col-sm-2">
								<%= f.text_field :logistics, class: 'form-control', required: true %>
							</div>
						</div>
						<div class="form-group">
							<label for="indent_verify_at" class="col-sm-2 control-label"><span class="require">*</span>下单时间</label>
							<div class="col-sm-3">
								<%= f.date_field :verify_at, class: 'form-control', data: {provide: 'datepicker'}, required: true %>
							</div>
							<label for="indent_require_at" class="col-sm-2 control-label"><span class="require">*</span>要求时间</label>
							<div class="col-sm-3">
								<%= f.date_field :require_at, class: 'form-control', data: {provide: 'datepicker'}, required: true %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label '代理商', for: 'indent_agent_id', class: 'col-sm-2 control-label' %>
							<div class="col-sm-4">
								<%= f.select :agent_id, @agents.map{|a|[a.full_name, a.id]}, class: 'form-control' %>
								<%= link_to '新建代理商', '#', data: {toggle: 'modal', target: '#addAgent'}, class: 'btn btn-primary btn-sm' %>
							</div>
							<div class="col-sm-6">
								<b>代理商地址：<span id="agent_address"><%= @current_agent.full_address %></span> </b>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div id="indentOrders">
							<%= f.fields_for :orders, :wrapper => false do |order_form| %>
							<div class="fields">
								<div class="row">
									<div class="col-sm-1 text-center indent-orders-title">
										<h4>子订单</h4>
									</div>
									<!-- 初始下拉框默认选中项 -->
	                <% init_ply_id = MaterialCategory.find_by(name: '18mm').id %>
	                <% init_texture_id = MaterialCategory.find_by(name: '颗粒板').id %>
	                <% init_color_id = MaterialCategory.find_by(name: '国色天香').id %>
	                <% init_price = Material.find_by(ply: init_ply_id, texture: init_texture_id, color: init_color_id).try(:price) %>
									<div class="col-sm-10">
										<div class="row">
											<div class="col-sm-3">
												<label><span class="require">*</span>类型</label>
												<%= order_form.select :order_category_id, OrderCategory.all.map{|oc| [oc.name, oc.id]}, class: 'form-control', required: true %>
												<%= order_form.select :oftype, Order.oftype %>
											</div>
											<div class="col-sm-2">
												<label data-toggle="tooltip" title="暂不可用"><span class="require">*</span>数量</label>
												<%= order_form.number_field :number, value: 1, min: 0, step: 0.01, style: "width: 50%;", readOnly: true, data: {toggle: 'tooltip'}, title: '暂不可用' %>
											</div>
											<div class="col-sm-2">
												<label>厚度</label>
												<%= order_form.collection_select :ply, MaterialCategory.where(oftype:MaterialCategory.oftypes[:ply]),:id, :name, {selected: init_ply_id}, {class: 'material-ply', onchange: 'getMaterialPrice(this)'} %>
											</div>
											<div class="col-sm-2">
												<label>材质</label>
												<%= order_form.collection_select :texture, MaterialCategory.where(oftype:MaterialCategory.oftypes[:texture]), :id, :name, {selected: init_texture_id}, {class: 'material-texture', onchange: 'getMaterialPrice(this)'} %>
											</div>
											<div class="col-sm-3">
												<label>颜色</label>
												<%= order_form.collection_select :color, MaterialCategory.where(oftype:MaterialCategory.oftypes[:color]), :id, :name,  {selected: init_color_id}, {class: 'material-color',  onchange: 'getMaterialPrice(this)'} %>
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-sm-2">
																<label>长度</label>
																<%#= order_form.number_field :length, value: 1, min: 0, step: 0.01, style: "width: 50%;" %>
											</div>
											<div class="col-sm-2">
																<label>宽度</label>
																<%#= order_form.number_field :width, value: 1, min: 0, step: 0.01, style: "width: 50%;" %>
											</div>
											<div class="col-sm-2">
																<label>高度</label>
																<%#= order_form.number_field :height, value: 1, min: 0, step: 0.01, style: "width: 50%;" %>
											</div> -->
											<div class="col-sm-2">
												<label>价格</label>
												<%= order_form.number_field :price, min: 0, step: 0.01, value: init_price, style: 'width: 50%;', class: 'material-price' %>
											</div>
											<div class="col-sm-5">
												<label>备注</label>
												<%= order_form.text_field :note, style: "width:80%;"%>
											</div>
											<div class="col-sm-5">
												<label>收货地址</label>
												<%= order_form.text_field :delivery_address, style: "width:80%;" %>
												<small style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;＊＊＊＊若不填写则默认为代理商地址</small>
											</div>
										</div>
									</div>
									<div class="col-sm-1 text-center indent-orders-delete">
										<!-- 位置不对 -->
										<%= order_form.link_to_remove '删除', class: 'btn btn-info btn-lg' %>
									</div>
								</div>
								<hr style="margin-bottom: 5px;">
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="pull-left">
					<%= f.link_to_add '添加子订单', :orders, data: { target: '#indentOrders'}, class: 'btn btn-info' %>
				</div>
				<%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
				<%= f.submit '提交', class: 'btn btn-primary' %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'agents/new' %>