<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title"><h2><i class="fa fa-lg fa-desktop"></i> 总订单 <small>编辑</small> </h2></div>
    <div class="panel-options">
      <%= link_to '返回', indents_path, class: 'btn btn-info', data: { toggle: 'tooltip', title: '返回到订单列表'} %>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row">
      <%= nested_form_for @indent, html: {class: 'form-horizontal', multipart: true} do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="form-group indent-new">
            <%= f.label '订单编号', for: 'indent_name', class: 'col-sm-1 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
            <%= f.label '终端客户', for: 'indent_customer', class: 'col-sm-1 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :customer, class: 'form-control', required: true %>
            </div>
            <%= f.label '要求物流', for: 'indent_logistics', class: 'col-sm-1 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :logistics, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group indent-new">
            <%= f.label '金额', for: 'indent_amount', class: 'col-sm-1 control-label' %>
            <div class="col-sm-3">
              <%= f.number_field :amount, class: 'form-control', min: 0, required: true %>
            </div>
            <%= f.label '下单时间', for: 'indent_verify_at', class: 'col-sm-1 control-label' %>
            <div class="col-sm-3">
              <%= f.date_field :verify_at, class: 'form-control', data: {provide: 'datepicker'}, required: true %>
            </div>
            <%= f.label '下单时间', for: 'indent_require_at', class: 'col-sm-1 control-label' %>
            <div class="col-sm-3">
              <%= f.date_field :require_at, class: 'form-control', data: {provide: 'datepicker'}, required: true %>
            </div>
          </div>
          <div class="form-group indent-new">
            <%= f.label '经销商', for: 'indent_agent_id', class: 'col-sm-1 control-label' %>
            <div class="col-sm-3">
              <%= f.select :agent_id, Agent.all.map{|a|[a.full_name, a.id]}, class: 'form-control' %>
              <%= link_to '新建经销商', '#', data: {toggle: 'modal', target: '#addAgent'}, class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
          <div id="indentOrders">
            <%= f.fields_for :orders, wrapper: false do |order_form| %>
            <hr>
            <div class="fields row">
              <div class="col-sm-1 text-center indent-orders-title">
                <h4>子订单</h4>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-2">
                    <label>类型</label>
                    <%= order_form.select :order_category_id, OrderCategory.all.map{|oc| [oc.name, oc.id]}, class: 'form-control', required: true %>
                  </div>
                  <div class="col-sm-2">
                    <label>数量</label>
                    <%= order_form.number_field :number, value: 1, min: 1, style: "width: 50%;" %>
                  </div>
                  <div class="col-sm-2">
                    <label>厚度</label>
                    <%= order_form.select :ply, MaterialCategory.where(oftype:MaterialCategory.oftypes[:ply]).map{|mc|[mc.name, mc.id]} %>
                  </div>
                  <div class="col-sm-2">
                    <label>材质</label>
                    <%= order_form.select :texture, MaterialCategory.where(oftype:MaterialCategory.oftypes[:texture]).map{|mc|[mc.name, mc.id]} %>
                  </div>
                  <div class="col-sm-2">
                    <label>颜色</label>
                    <%= order_form.select :color, MaterialCategory.where(oftype:MaterialCategory.oftypes[:color]).map{|mc|[mc.name, mc.id]} %>
                  </div>
                  <!-- <div class="col-sm-4">
                    <label>状态</label>
                    <%= order_form.select :status, Order.status %>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <label>长度</label>
                    <%= order_form.number_field :length, value: 1, min: 1, style: "width: 50%;" %>
                  </div>
                  <div class="col-sm-2">
                    <label>宽度</label>
                    <%= order_form.number_field :width, value: 1, min: 1, style: "width: 50%;" %>
                  </div>
                  <div class="col-sm-2">
                    <label>高度</label>
                    <%= order_form.number_field :height, value: 1, min: 1, style: "width: 50%;" %>
                  </div>
                  <div class="col-sm-4">
                    <label>备注</label>
                    <%= order_form.text_field :note, style: "width: 90%;" %>
                  </div>
                </div>
              </div>
              <div class="col-sm-1 text-center indent-orders-delete">
                <!-- 位置不对 -->
                <%= order_form.link_to_remove '删除', class: 'btn btn-info btn-lg' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to '返回', indents_path, class: 'btn btn-default' %>
      <%= f.submit '提交', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'agents/new' %>