<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title" style="margin-bottom: 2px; padding-bottom: 0px;">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 订单 <small>列表</small> </h2>
      <%= link_to '查看统计', '#', class: "btn btn-primary", data: {toggle: 'modal', target: '#showSat'}, style:'margin-left: 20px; color: #fff;' %>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addIndent'} %>
      </div>
    </div>
  </div>
  <% if params[:start_at] || params[:end_at] || params[:agent_id]%>
  <% @agent_search = Agent.find_by_id(params[:agent_id])%>
  <% end%>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <%= form_tag indents_path, class: 'form-inline', method: 'get' do %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-10">
              <div class="row">
                <label class="col-sm-2 text-right" style="margin-top: 5px;">下单时间</label>
                <%= date_field_tag :start_at, @start_at, class: 'col-sm-2 form-control', data: {provide: 'datepicker'}, placeholder: '请选择起始日期',required: true  %>
                <span class="col-sm-1 text-center" style="margin-top: 5px;font-weight: bold;">----</span>
                <%= date_field_tag :end_at, @end_at, class: 'col-sm-2 form-control', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',required: true %>
                <label class="col-sm-2 text-right" style="margin-top: 5px;">代理商</label>
                <input type="hidden" id="remoteDataAgent" name='agent_id' data-id="<%=@agent_search.try(:id)%>" data-name="<%=@agent_search.try(:full_name)%>" class="select2 ajax col-sm-2"/>
              </div>
            </div>
            <div class="col-sm-2">
              <%= submit_tag '查询', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row content-table">
      <div class="col-sm-12" style="padding: 0 0 0 5px;">
        <div class="panel panel-info">
          <table class="table table-hover table-striped table-bordered table-condensed text-center">
            <thead>
              <tr>
                <th class="col-xs-1">
                  <label style="margin: 0; width: 100%;">
                    <input type="checkbox" class="pull-left" id="checkAll" style="margin: 0;"/>
                    全选
                  </label>
                </th>
                <th class="col-xs-1">总订单号</th>
                <th class="col-xs-1">代理商</th>
                <th class="col-xs-2">终端信息</th>
                <th class="col-xs-1">下单时间</th>
                <th class="col-xs-1">发货时间</th>
                <th class="col-xs-1">订单金额</th>
                <th class="col-xs-1">欠款</th>
                <th class="col-xs-1">报价单</th>
                <th class="col-xs-2">操作</th>
              </tr>
            </thead>
            <tbody>
              <% @indents.each do |i| %>
              <tr>
                <td>
                  <input type="checkbox" class="checkbox" value="<%=i.id%>">
                </td>
                <td><%= link_to i.name, i, data: {toggle:'tooltip'}, title: '总订单详细' %></td>
                <td><%= i.agent.try(:full_name) %></td>
                <td><%= i.customer %></td>
                <td><%= i.verify_at.strftime('%Y-%m-%d') %></td>
                <td><%= i.require_at.strftime('%Y-%m-%d') %></td>
                <td><%= i.amount %></td>
                <td class="danger" data-toggle="tooltip" title="负数表示代理商预付款或押金"><%= i.arrear %></td>
                <td><%= i.status_name %></td>
                <!-- 这里需要判断是否已生成报价单 -->
                <!-- <td>
                  <%# if Indent.statuses[i.status.to_sym] > Indent.statuses[:offering] && Indent.statuses[i.status.to_sym] <= Indent.statuses[:sent] %>
                  <%#= link_to '报价单', offers_path(indent_id: i.id) %>
                  <%# else %>
                  未报价
                  <%# end %>
                </td> -->
                <td>
                  <%= link_to '编辑', edit_indent_path(i), class: 'btn-primary btn-xs', data: {toggle: 'modal', target: '#editIndent'}, title:'编辑总订单' %>
                  <%= link_to '到款详细', incomes_path(indent_id: i.id), class: 'btn-primary btn-xs' %>
                  <%#= link_to '生产', indent_path(id: i.id, indent: {status: 'producing'}),method: :put,class: 'btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '开始生产此订单' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- 这里是通过 js 修改的 url -->
        <%= link_to '配件清单预览', '#', class: 'btn btn-primary disabled', data: {toggle: 'modal', target: '#previewPartList'}, id: 'preview-link' %>
        <%= paginate @indents %>
      </div>
    </div>
  </div>
</div>
<%= render 'new' %>
<!-- 编辑总订单模态框 Modal -->
<div class="modal fade" id="editIndent" tabindex="-1" role="dialog" aria-labelledby="editIndentLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width: 80%;">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- 配件清单预览模态框 Modal -->
<div class="modal fade" id="previewPartList" tabindex="-1" role="dialog" aria-labelledby="previewPartListLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width: 80%;">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- 总订单统计信息模态框 Modal -->
<div class="modal fade" id="showSat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">订单统计信息</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>订单统计信息</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>总金额</th>
              <td><%= @indents.map(&:amount).sum() %></td>
            </tr>
            <tr>
              <th>订单数</th>
              <td><%= @indents.size %></td>
            </tr>
          </table>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>总金额 Top10</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>代理商</th>
              <th>订单数</th>
              <th>总金额</th>
            </tr>
            <% @indents.group_by{|indent| indent.agent_id}.sort_by{|k,v| v.map(&:amount).sum }.reverse[0..10].to_h.each_pair do |k, v|%>
            <tr>
              <td><%= Agent.find(k).full_name %></td>
              <td><%= v.size %></td>
              <td><%= v.map(&:amount).sum() %></td>
            </tr>
            <%end%>
          </table>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>总单数 Top10</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>代理商</th>
              <th>订单数</th>
              <th>总金额</th>
            </tr>
            <% @indents.group_by{|indent| indent.agent_id}.sort_by{|k,v| v.size }.reverse[0..10].to_h.each_pair do |k, v|%>
            <tr>
              <td><%= Agent.find(k).full_name %></td>
              <td><%= v.size %></td>
              <td><%= v.map(&:amount).sum() %></td>
            </tr>
            <%end%>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  // 存储总订单ids
  localStorage.removeItem("indent_ids");
  localStorage.setItem('indent_ids', "");
});

$("#editIndent").on("hidden.bs.modal", function(e){
  $(this).removeData("bs.modal");
});
$("#previewPartList").on("hidden.bs.modal", function(e){
  $(this).removeData("bs.modal");
});

/**
 * 全选 & 反选
 */
$("#checkAll").click(function(){
  var ids = new Array();
  var href = "/indents/preview";
  // jQuery 1.6.1 以上版本，必须使用 prop 替换 attr 设置 checked、disabled 等属性，否则 UI 显示不正常
  if ($(this).prop("checked")){ // 全选
    $('.checkbox').each(function(){
      $(this).prop("checked", true);
      ids.push($(this).val());
    });
    // 修改链接按钮为 可用状态、URL
    $("#preview-link").removeClass("disabled");
    $("#preview-link").attr("href", href + "?ids=" + ids);
  } else { // 全不选
    $('.checkbox').each(function(){
      $(this).prop("checked", false);
    });
    // 修改链接按钮为 不可用状态、URL
    $("#preview-link").addClass("disabled");
    $("#preview-link").attr("href", "#");
  }
  // 将选 indent.id 存储在本地存储 indent_ids 中
  localStorage.setItem("indent_ids", ids)
});
$(".checkbox").click(function(){
  var ids = localStorage.getItem("indent_ids").split(",");
  $(".checkbox").each(function(){
    var id = $(this).val();
    if ($(this).prop("checked")){
      // ids 中不包含 id 时，才将 id 添加到 ids 中
      if(ids.indexOf(id) < 0){
        ids.push(id);
      }
    } else {
      ids.remove(id);
    }
  });
  var href = "/indents/preview";
  if (ids.length > 0){
    // 修改链接按钮为 可用状态、URL
    $("#preview-link").removeClass("disabled");
    $("#preview-link").attr("href", href + "?ids=" + ids);
  } else {
    // 修改链接按钮为 不可用状态、URL
    $("#preview-link").addClass("disabled");
    $("#preview-link").attr("href", "#");
  }
});
</script>