<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title"><h2><i class="fa fa-lg fa-desktop"></i> 订单 <small>列表</small> </h2></div>
    <div class="panel-options">
      <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addIndent'} %>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <!-- <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <% PartCategory.group(:name).map(&:name).push('所有').each do |k| %>
        <%= link_to k, parts_path(name: k), class: "btn btn-default #{'btn-primary' if params[:name].presence == k}" %>
        <% end %>
      </div>
    </div> -->
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>订单编号</th>
            <th>代理商</th>
            <th>终端信息</th>
            <th>下单时间</th>
            <th>发货时间</th>
            <th>订单金额</th>
            <th>欠款合计</th>
            <th>历史合计</th>
          </tr>
        </thead>
        <tbody>
          <% @indents.each do |i| %>
          <tr>
            <td><%= link_to i.name, i %></td>
            <td><%= i.agent.try(:name) %></td>
            <td><%= i.customer %></td>
            <td><%= i.verify_at.strftime('%Y-%m-%d') %></td>
            <td><%= i.require_at.strftime('%Y-%m-%d') %></td>
            <td><%= i.amount %></td>
            <td class="danger"><%= i.total_arrear %></td>
            <td><%= i.total_history %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'new' %>