<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 订单 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addIndent'} %>
      </div>
    </div>
  </div>
  <% if params[:start_at] || params[:end_at] || params[:agent_id]%>
  <% @agent_search = Agent.find_by_id(params[:agent_id])%>
  <% end%>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
        <%= form_tag indents_path, class: 'form-inline', method: 'get' do %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>查询条件</span>
          </div>
          <div class="panel-body">
            <div class="col-sm-6">
              <label>下单时间：</label>
              <%= date_field_tag :start_at, @start_at, class: 'form-control', data: {provide: 'datepicker'}, style: "width: 35%;", placeholder: '请选择起始日期',required: true  %>
              &nbsp;&nbsp;--&nbsp;&nbsp;
              <%= date_field_tag :end_at, @end_at, class: 'form-control', data: {provide: 'datepicker'}, style: "width: 35%;", placeholder: '请选择终止日期',required: true %>
            </div>
            <div class="col-sm-4">
              <label>代理商: </label>
              <input type="hidden" id="remoteDataAgent" name='agent_id' data-id="<%=@agent_search.try(:id)%>" data-name="<%=@agent_search.try(:full_name)%>" style="width: 80%" class="select2 ajax"/>
            </div>
            <div class="col-sm-2">
              <%= submit_tag '查询', class: 'btn btn-primary btn-xs' %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <div class="row content-table">
      <div class="col-sm-4" style="padding: 0 0;">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>订单统计信息</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>总金额</th>
              <td><%= @indents.map(&:amount).sum() %></td>
            </tr>
            <tr>
              <th>订单数</th>
              <td><%= @indents.size %></td>
            </tr>
          </table>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>总金额 Top10</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>代理商</th>
              <th>订单数</th>
              <th>总金额</th>
            </tr>
            <% @indents.group_by{|indent| indent.agent_id}.sort_by{|k,v| v.map(&:amount).sum }.reverse[0..10].to_h.each_pair do |k, v|%>
            <tr>
              <td><%= Agent.find(k).full_name %></td>
              <td><%= v.size %></td>
              <td><%= v.map(&:amount).sum() %></td>
            </tr>
            <%end%>
          </table>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>总单数 Top10</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>代理商</th>
              <th>订单数</th>
              <th>总金额</th>
            </tr>
            <% @indents.group_by{|indent| indent.agent_id}.sort_by{|k,v| v.size }.reverse[0..10].to_h.each_pair do |k, v|%>
            <tr>
              <td><%= Agent.find(k).full_name %></td>
              <td><%= v.size %></td>
              <td><%= v.map(&:amount).sum() %></td>
            </tr>
            <%end%>
          </table>
        </div>
      </div>
      <div class="col-sm-8" style="padding: 0 0 0 5px;">
        <div class="panel panel-info">
          <table class="table table-hover table-striped table-bordered table-condensed text-center">
            <thead>
              <tr>
                <th class="col-sm-1">总订单号</th>
                <th class="col-xs-1">代理商</th>
                <th class="col-xs-2">终端信息</th>
                <th class="col-xs-1">下单时间</th>
                <th class="col-xs-1">发货时间</th>
                <th class="col-xs-1">订单金额</th>
                <th class="col-xs-1">欠款</th>
                <th class="col-xs-1">报价单</th>
                <th class="col-xs-2">操作</th>
              </tr>
            </thead>
            <tbody>
              <% @indents.each do |i| %>
              <tr>
                <td><%= link_to i.name, i, data: {toggle:'tooltip'}, title: '总订单详细' %></td>
                <td><%= i.agent.try(:full_name) %></td>
                <td><%= i.customer %></td>
                <td><%= i.verify_at.strftime('%Y-%m-%d') %></td>
                <td><%= i.require_at.strftime('%Y-%m-%d') %></td>
                <td><%= i.amount %></td>
                <td class="danger" data-toggle="tooltip" title="负数表示代理商预付款或押金"><%= i.arrear %></td>
                <td><%= i.status_name %></td>
                <!-- 这里需要判断是否已生成报价单 -->
                <!-- <td>
                  <%# if Indent.statuses[i.status.to_sym] > Indent.statuses[:offering] && Indent.statuses[i.status.to_sym] <= Indent.statuses[:sent] %>
                  <%#= link_to '报价单', offers_path(indent_id: i.id) %>
                  <%# else %>
                  未报价
                  <%# end %>
                </td> -->
                <td>
                  <%= link_to '编辑', edit_indent_path(i), class: 'btn-primary btn-xs', data: {toggle: 'tooltip'}, title:'编辑总订单' %>
                  <%= link_to '到款详细', incomes_path(indent_id: i.id), class: 'btn-primary btn-xs' %>
                  <%#= link_to '生产', indent_path(id: i.id, indent: {status: 'producing'}),method: :put,class: 'btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '开始生产此订单' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'new' %>
