<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <!-- Page title -->
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 待发货 <small>列表</small>
      </h2>
    </div>
  </div>
<!-- 
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <td>客户单号</td>
            <td>代理商</td>
            <td>联系人</td>
            <td>联系电话</td>
            <td>要求发货时间</td>
            <td>发货</td>
          </tr>
        </thead>
        <tbody>
          <% @indents.each do |indent|%>
          <tr>
            <td><%= link_to indent.name, indent_path(indent), class: 'detail-link' %></td>
            <td> <%= indent.agent.full_name %></td>
            <td> <%= indent.agent.contacts %></td>
            <td><%= indent.agent.mobile %></td>
            <td><%= indent.require_at %></td>
            <td><%= link_to '发货', '#', class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addSent', indent: indent.id}, id: 'addSentsBtn'  %></td>
          </tr>
          <%end%>
        </tbody>
        
      </table>
    </div>
  </div> -->
  <hr/>
  <div class="panel panel-info">
    <div class="panel-heading offers-panel-heading">
      <span>待发货
      </span>
    </div>
    <div>
      <% @indents.each do |indent|%>
      <div class="panel-group" style="margin-bottom: 0 !important;" id="accordion<%=indent.id%>" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="button" id="heading<%=indent.id%>" style="background-color: #D9EDF7;" data-toggle="collapse" data-parent="#accordion<%=indent.id %>" href="#collapse<%= indent.id %>" aria-expanded="true" aria-controls="collapse<%= indent.id %>">
            <div class="panel-title" role="button">
              <label>总订单号:<%= indent.name %>&nbsp;&nbsp;</label>
              <p class="pull-right">
                经销商：<%= indent.agent.full_name  %>&nbsp;&nbsp;
                终端客户：<%= indent.customer.truncate(10)  %>&nbsp;&nbsp;
                应收款：<%= indent.amount  %>&nbsp;&nbsp;
                已收款：<%= indent.amount - indent.arrear %>&nbsp;&nbsp;
                欠款：<%= indent.arrear %>&nbsp;&nbsp;
                状态：&nbsp;&nbsp;
                <%= link_to '发货信息', change_sents_path(id: indent.sent.try(:id), indent_or_order_id: indent.id, type: 'indent'), class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addSent'}, id: 'addSentsBtn'  %>
              </p>
            </div>
          </div>
          <div id="collapse<%=indent.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=indent.id%>">
            <div class="panel-body">
              <table class="table table-border">
                <thead>
                  <tr>
                    <td>子订单编号</td>
                    <td>类型</td>
                    <!-- <td>备注</td> -->
                    <td>包装件数</td>
                    <td>入库状态</td>
                    <td>发货</td>
                  </tr>
                </thead>
                <tbody>
                  <% indent.orders.each do |order|%>
                  <tr>
                    <td><%= order.name %></td>
                    <td><%= order.order_category.name %></td>
                    <!-- <td><%= order.note %></td> -->
                    <td><%= order.packages.size %></td>
                    <td><%= order.status_name %></td>
                    <td><%= link_to '发货信息', change_sents_path(id: order.sent.try(:id), indent_or_order_id: order.id, type: 'order'), class: 'btn btn-info btn-xs', data: { toggle: 'modal', target: '#addSent'}, id: 'addSentsBtn'  %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="addSent" tabindex="-1" role="dialog" aria-labelledby="addSent" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 55%;">
    <div class="modal-content">
    </div>
  </div>
</div>
<script language="javascript">
  $('#addSent').on('hidden.bs.modal', function (e) {
    $(this).removeData('bs.modal');
  })
</script>