<script type="text/javascript">
  $(function(){
    localStorage.clear();
    localStorage.setItem('index', 1);
  });

</script>
<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2><i class="fa fa-lg fa-desktop"></i> 包装管理
      <small>
        客户单号：<%= link_to @indent.name, indent_path(@indent), class: 'detail-link' %>&nbsp;&nbsp;&nbsp;&nbsp;
        下单客户：<%=link_to @indent.agent.name, agent_path(@indent.agent), class: 'detail-link' %>&nbsp;&nbsp;&nbsp;&nbsp;一旦选择打印，已打包的部件／配件将无法改变
      </small>
      <div class="pull-right panel-options">
        <%= link_to '返回', :back, class: 'btn btn-info' %>
      </div>
      </h2>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="awidget full-width">
      <div class="awidget-head">
        <div class="row">
          <div class="col-sm-4">
          <label style="font-size: 18px;">条码：</label>
          <%= text_field_tag :unit_part_craft_name, '', autofocus:true, style: 'font-size: 18px; font-weight: bold; width:80%;' %>
          </div>
          <div class="col-md-8 col-sm-8">
            <%= form_tag("/indents/#{@indent.id}/package.pdf", method: :post, class: 'form-inline') do |f| %>
            <%= hidden_field_tag 'order_unit_ids', '' %>
            <%= hidden_field_tag 'order_label_size', 0 %>
            <button class="btn btn-info" style="margin-left: 20px;" onclick="return previous();">上一包</button>
            <button class="btn btn-info" style="margin-left: 20px;" onclick="return next();">下一包</button>
            <button class="btn btn-info" style="margin-left: 20px;" onclick="return print_current_page();">打印当前标签</button>
            <button class="btn btn-info" style="margin-left: 20px;" onclick="return print_pages(this);" data-units="<%= @order_units.map(&:is_printed).uniq.select { |e| !e  }.size %>">批量打印标签</button>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;标签尺寸：</label>
            <%= number_field_tag 'length', @length, value: "80", class: "form-control", style: "width: 10%", readOnly: true %>
            &nbsp;&nbsp;×&nbsp;&nbsp;
            <%= number_field_tag 'width', @width, value: "60", class: "form-control", style: "width: 10%", readOnly: true %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <table class="table table-striped table-condensed" id="old_table" style="page-break-before:always;">
            <caption style="text-align:center; font-weight: bold; font-size: 20px;">未打包</caption>
            <thead>
              <tr class="info">
                <th class="col-xs-2">条码</th>
                <th class="col-xs-2">类型</th>
                <th class="col-xs-2">名称</th>
                <th class="col-xs-1">长</th>
                <th class="col-xs-1">宽</th>
                <th class="col-xs-1">厚</th>
                <th class="col-xs-2">颜色</th>
                <th class="col-xs-1">尺寸</th>
              </tr>
            </thead>
            <tbody>
            <% @order_units.each do |order_unit|%>
            <% next if order_unit.is_printed %>
            <tr onclick="remove_order(this)" id="order_unit_<%=order_unit.id%>">
              <td><%= order_unit.name%></td>
              <td>部件</td>
              <td><%= order_unit.full_name%></td>
              <td><%= order_unit.length%></td>
              <td><%= order_unit.width%></td>
              <td><%= MaterialCategory.find_by_id(order_unit.ply).try(:name)%></td>
              <td><%= MaterialCategory.find_by_id(order_unit.color).try(:name)%></td>
              <td><%= order_unit.size%></td>
            </tr>
            <%end%>
            <% @order_parts.each do |order_part|%>
            <% next if order_part.is_printed %>
            <tr onclick="remove_order(this)" id="order_part_<%=order_part.id%>">
              <td><%= order_part.name%></td>
              <td>配件</td>
              <td><%= order_part.part_category.name%></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <%end%>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-sm-6">
          <table class="table table-striped table-condensed" id="new_table" style="page-break-before:always;">
            <caption style="text-align:center; font-weight: bold; font-size: 20px;">已打包</caption>
            <thead>
              <tr class="success">
                <th class="col-xs-2">条码</th>
                <th class="col-xs-2">类型</th>
                <th class="col-xs-2">名称</th>
                <th class="col-xs-1">长</th>
                <th class="col-xs-1">宽</th>
                <th class="col-xs-1">厚</th>
                <th class="col-xs-2">颜色</th>
                <th class="col-xs-1">尺寸</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="text-align:center; font-weight: bold; font-size: 20px;">已打印</div>
    <% @packages.each do |p|%>
    <div class="awidget full-width">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <table class="table table-striped table-condensed">
            <thead>
              <tr class="info">
                <th class="col-xs-2">条码</th>
                <th class="col-xs-2">类型</th>
                <th class="col-xs-2">名称</th>
                <th class="col-xs-1">长</th>
                <th class="col-xs-1">宽</th>
                <th class="col-xs-1">厚</th>
                <th class="col-xs-2">颜色</th>
                <th class="col-xs-1">尺寸</th>
              </tr>
            </thead>
            <tbody>
              <% Unit.where(id: p.unit_ids.split(',')).each do |order_unit|%>
              <% next unless order_unit.is_printed %>
              <tr>
                <td><%= order_unit.name%></td>
                <td>部件</td>
                <td><%= order_unit.full_name%></td>
                <td><%= order_unit.length%></td>
                <td><%= order_unit.width%></td>
                <td><%= MaterialCategory.find_by_id(order_unit.ply).try(:name)%></td>
                <td><%= MaterialCategory.find_by_id(order_unit.color).try(:name)%></td>
                <td><%= order_unit.size%></td>
              </tr>
              <%end%>
              <% Part.where(id: p.part_ids.split(',')).each do |order_part|%>
              <% next unless order_part.is_printed %>
              <tr>
                <td><%= order_part.name%></td>
                <td>配件</td>
                <td><%= order_part.part_category.name%></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>