<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 总订单 <small>详细</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '返回', indents_path, class: 'btn btn-info', data: {toggle:'tooltip'}, title: '返回到订单列表' %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row">
      <div style="font-size: 18px;">
        <p class="pull-left">总订单号：
          <code><%= @indent.name %></code>&nbsp;&nbsp;&nbsp;&nbsp;
          <small class="indent-add-order-btn">
          代理商:&nbsp;&nbsp;<code><%= @indent.agent.try(:full_name) %></code>&nbsp;&nbsp;&nbsp;&nbsp;
          终端客户:&nbsp;&nbsp;<code><%= @indent.customer %></code>&nbsp;&nbsp;&nbsp;&nbsp;
          状态:&nbsp;&nbsp;<code><%= @indent.status_name %></code>
          </small>
        </p>
        <p class="pull-right">
          <%= link_to '管理子订单', '#', data: { toggle: 'modal', target: '#addOrders'}, class: 'btn-primary btn-sm' %>
          <%= link_to '生成报价', generate_indents_path(id: @indent.id), class: 'btn-primary btn-sm', data: {toggle: 'tooltip'}, title: '生成总订单的报价单' %>
        </p>
      </div>
      <table class="table table-hover table-striped table-bordered table-condensed indent-show-table">
        <tr>
          <th>子订单号</th>
          <th>子订单类型</th>
          <th>数量</th>
          <th>厚度</th>
          <th>材质</th>
          <th>颜色</th>
          <!-- <th>长度</th>
          <th>宽度</th>
          <th>高度</th>-->
          <th>状态</th>
          <th>备注</th>
          <th>报价</th>
          <th>生产</th>
        </tr>
        <% @orders.each do |o| %>
        <tr>
          <td><%= link_to o.name, o, data: {toggle:'tooltip'}, title: '子订单详细' %></td>
          <td><%= o.order_category.try(:name) %></td>
          <td><%= o.number %></td>
          <td><%= MaterialCategory.find(o.ply).try(:name) %></td>
          <td><%= MaterialCategory.find(o.texture).try(:name) %></td>
          <td><%= MaterialCategory.find(o.color).try(:name) %></td>
          <!-- <td><%= o.length %></td>
          <td><%= o.width %></td>
          <td><%= o.height %></td>-->
          <td><%= o.status_name %></td>
          <td style="max-width: 300px;word-break:break-all;word-wrap:break-word;"><%= o.note %></td>
          <td><%= link_to '自定报价', custom_offer_order_path(o), class: 'btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '自定义报价' %>
          </td>
          <td>
            <% if Order.statuses[o.status] < 1 %>
              <%= link_to '生产', '#', class: 'btn-primary btn-xs', data: {toggle: 'tooltip', confirm: '订单报价中，无法生产!'}, title: '订单报价中，无法生产!' %>
            <% elsif Order.statuses[o.status] == 1 %>
            <%= link_to '生产', order_path(id: o.id, order: {status: 'producing'}),method: :put,class: 'btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '开始生产此订单' %>
            <% else %>
              已生产
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= render 'offers' %>
<%= render 'add_orders' %>
<%= render 'add_offers' %>