<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 总订单
      <small>
      总订单号：<code><%= @indent.name %></code>&nbsp;&nbsp;
      代理商:&nbsp;<code><%= @indent.agent.try(:full_name)[0,4] %></code>&nbsp;&nbsp;
      终端客户:&nbsp;<code><%= @indent.customer[0,4] %></code>&nbsp;&nbsp;
      状态:&nbsp;<code><%= @indent.status_name %></code>
      </small>
      </h2>
      <div class="pull-right panel-options">
        <% if @indent.over? %>
          <%= link_to '管理', '#', class: 'btn-primary btn', disabled: 'disabled' %>
          <%= link_to '报价', '#', class: 'btn-primary btn', disabled: 'disabled' %>
        <% else %>
          <%= link_to '管理', edit_indent_path(@indent), data: { toggle: 'modal', target: '#editIndent'}, class: 'btn-primary btn' %>
          <%= link_to '报价', generate_indents_path(id: @indent.id), class: 'btn-primary btn', data: {toggle: 'tooltip'}, title: '生成总订单的报价单' %>
        <% end %>
        <%= link_to '返回', indents_path, class: 'btn btn-info', data: {toggle:'tooltip'}, title: '返回到订单列表' %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row">
      <table class="table table-hover table-striped table-bordered table-condensed indent-show-table">
        <tr>
          <th>子订单号</th>
          <th>类型</th>
          <th>负责人</th>
          <th>厚度</th>
          <th>材质</th>
          <th>颜色</th>
          <th>板料价格</th>
          <!-- <th>长度</th>
          <th>宽度</th>
          <th>高度</th>-->
          <th>状态</th>
          <th>到款状态</th>
          <th>备注</th>
          <th>报价</th>
          <th>生产</th>
        </tr>
        <% @orders.each do |o| %>
        <tr>
          <td><%= link_to o.name, o, data: {toggle:'tooltip'}, title: '子订单详细' %></td>
          <td><%= o.order_category.try(:name) %></td>
          <td><%= User.find_by(id: o.handler).try(:username).presence || "无" %></td>
          <td><%= MaterialCategory.find(o.ply).try(:name) %></td>
          <td><%= MaterialCategory.find(o.texture).try(:name) %></td>
          <td><%= MaterialCategory.find(o.color).try(:name) %></td>
          <td><%= o.material_price %></td>
          <!-- <td><%= o.length %></td>
          <td><%= o.width %></td>
          <td><%= o.height %></td>-->
          <td><%= o.status_name %></td>
          <td class="<%= 'success' if o.income_status == '全款' %>"><%= o.income_status %></td>
          <td><%= o.note %></td>
          <td>
            <% if o.over? %>
              <%= link_to '自定报价', '#', class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '自定义报价', disabled: 'disabled' %>
            <% else %>
              <%= link_to '自定报价', custom_offer_order_path(o), class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '自定义报价' %>
            <% end %>
            <% if o.income_status == '全款' %>
            <button class="btn btn-primary btn-xs" disabled="true">到款</button>
            <% else %>
            <%= link_to '到款', '#', class: 'btn btn-primary btn-xs', data: {toggle: 'modal', target: '#addIncomes', order: o.id, amount: o.price, arrear: ((o.price.to_f - o.incomes.pluck(:money).sum.to_f) >0 ? (o.price.to_f - o.incomes.pluck(:money).sum.to_f) : 0), username: current_user.name}, id: 'addIncomesBtn' %>
            <% end %>
          </td>
          <td>
            <% if Order.statuses[o.status] < 1 || (o.units.count < 1 && o.parts.count < 1 && o.crafts.count < 1) %>
            <%= link_to '生产', '#', class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip', confirm: '订单未报价，或没有报价信息。无法生产!'}, title: '订单未报价，或没有报价信息。无法生产!' %>
            <% elsif Order.statuses[o.status] == 1 %>
            <%= link_to '生产', order_path(id: o.id, order: {status: 'producing'}),method: :put,class: 'btn btn-primary btn-xs', data: {toggle: 'tooltip'}, title: '开始生产此订单' %>
            <% else %>
            已生产
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= render 'agents/new' %>
<%= render 'offers' %>
<%= render '/incomes/new' %>
<%#= render 'indents/edit' %>
<%#= render 'add_offers' %>
<!-- Modal -->
<div class="modal fade" id="editIndent" role="dialog" aria-labelledby="editIndentLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width: 80%;">
    <div class="modal-content">
    </div>
  </div>
</div>
<script type="text/javascript">
$("#editIndent").on("hidden.bs.modal", function(e){
$(this).removeData("bs.modal");
});
</script>