<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title"><h2><i class="fa fa-lg fa-desktop"></i> 角色权限 <small>列表</small> </h2></div>
    <div class="panel-options">
      <%= link_to '新建', new_role_path, class: 'btn btn-info'%>
    </div>
  </div>
</div>
<% @roles.each do |role| %>
<% next if role.nick == 'super_admin'%>
<div class="panel panel-default" style="margin-top: 10px;">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-3">角色名称：<span><%= role.name%></span></div>
      <div class="col-sm-3">符号(英文名)：<span><%= role.nick%></span></div>
      <div class="col-sm-3"><%= link_to '编辑', edit_role_path(role), class: 'btn btn-xs btn-warning' %></div>
      <div class="col-sm-3"><%= link_to '删除', role, method: :delete, data: { confirm: '你确定要删除该角色吗？' }, class: 'btn btn-xs btn-danger' %></div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-10">
        <% role.permissions.each do |permission| %>
        <div class="form-group">
          <label class="col-md-6 control-label">
            <%= "#{@controller_hash[permission.klass]}" %>
          </label>
          <label class="control-label">
            <% show_action = []
            current_action = permission.actions.split(/\s*,\s*/)
            if Role.permissions[permission.klass]
              Role.permissions[permission.klass][:actions].each_pair do |k, v|
                if (Array(v).join('，').split(/,/) - current_action).size == 0
                  show_action << k
                end
              end
            end
            %>
            <%= show_action.join(' ')  %>
          </label>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>