<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
    <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 部件 <small>列表</small> </h2></div>
  </div>
  <div class="content-box-large box-with-header">
   <!--  <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <% PartCategory.group(:name).map(&:name).push('所有').each do |k| %>
        <%= link_to k, parts_path(name: k), class: "btn btn-default #{'btn-primary' if params[:name].presence == k}" %>
        <% end %>
      </div>
    </div> -->
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr>
            <th>订单号</th>
            <th>类型</th>
            <th>名称</th>
            <th>单位</th>
            <th>数量</th>
            <th>单价</th>
            <th>厚度</th>
            <th>材质</th>
            <th>颜色</th>
            <th>尺寸</th>
            <th>终端客户</th>
            <th>代理商</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <% @units.each do |u| %>
          <tr>
            <td><%= u.order.try(:name) %></td>
            <td><%= u.unit_category.try(:name) %></td>
            <td><%= u.full_name %></td>
            <td><%= u.uom %></td>
            <td><%= u.number %></td>
            <td><%= u.price %></td>
            <td><%= MaterialCategory.find_by_id(u.ply).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(u.texture).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(u.color).try(:name) %></td>
            <td><%= u.size %></td>
            <td><%= u.order ? u.order.indent.customer : '无' %></td>
            <td><%= u.order ? u.order.indent.agent.try(:full_name) : '无' %></td>
            <td style="max-width:200px;"><%= u.note %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @units %>
      </div>
    </div>
  </div>
</div>
<%= render 'new' %>