<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="addSentLabel"> 发货信息
  <small class="text-info" style="margin-left: 10px;">
  <% if @indent_or_order.class == Indent %>
  <% indent = @indent_or_order %>
  <% agent = @indent_or_order.agent %>
  <% elsif @indent_or_order.class == Order %>
  <% indent = @indent_or_order.indent %>
  <% agent = indent.agent %>
  <% else %>
  <% end %>
  订单号：<span id="indent_or_order_name"><%= @indent_or_order.name %></span>&nbsp;&nbsp;
  终端客户：<span><%= indent.customer.truncate(12) %></span>&nbsp;&nbsp;
  代理商：<span  id="indent_or_order_agent"><%= agent.full_name.truncate(12) %></span>&nbsp;&nbsp;
  总件数：<span><%= indent.orders.map{|o| o.packages.map(&:label_size).compact.sum}.flatten.sum %>&nbsp;件</span>
  </small>
  </h4>
</div>
<%= form_for(@sent, format: 'json', html: {class: "form-inline #{'new' if @sent.new_record?}"}) do |f| %>
<div class="modal-body">
  <%= f.hidden_field :owner_id, value: params[:owner_id].presence, id: 'order_sent_owner_id' %>
  <%= f.hidden_field :owner_type, value: params[:owner_type].presence, id: 'order_sent_owner_type' %>
  <div class="form-group" style="width: 100%;">
    <%= f.label :area, '地区', class: 'col-xs-1 control-label text-right', style: 'margin-top: 8px;padding: 0;' %>
    <div class="col-xs-3">
      <%= f.text_field :area, value: @indent_or_order.agent.delivery_address, class: 'form-control' %>
    </div>
    <label for="sent_receiver" class="col-xs-1 control-label text-right" style='margin-top: 8px; padding: 0;'><span class="require">*</span>收货人</label>
    <div class="col-xs-3">
      <%= f.text_field :receiver, value: @indent_or_order.agent.contacts, class: 'form-control', required: true %>
    </div>
    <label for="sent_contact" class="col-xs-1 control-label text-right" style='margin-top: 8px;padding: 0 !important;'><span class="require">*</span>联系方式</label>
    <div class="col-xs-3">
      <%= f.text_field :contact, value: @indent_or_order.agent.mobile, class: 'form-control', required: true, style: 'width: 100%;' %>
    </div>
  </div>
  <div class="form-group" style="width: 100%; margin-top: 5px;">
    <%= f.label :collection, '代收', class: 'col-xs-1 control-label text-right', style: 'margin-top: 8px;padding: 0;' %>
    <div class="col-xs-3">
      <%= f.number_field :collection, min: 0, step: 0.01, value: indent.arrear, class: 'form-control' %>
    </div>
    <label for="sent_logistics" class="col-xs-1 control-label text-right" style='margin-top: 8px;padding: 0;'><span class="require">*</span>物流</label>
    <div class="col-xs-3">
      <%= f.text_field :logistics, value: indent.logistics, class: 'form-control' %>
    </div>
    <%= f.label :cupboard, '橱柜', class: 'col-xs-1 control-label text-right', style: 'margin-top: 8px;padding: 0;' %>
    <div class="col-xs-3">
      <% if @indent_or_order.class == Indent %>
      <%= f.number_field :cupboard, value: @indent_or_order.orders.where(order_category_id: OrderCategory.find_by(name: '橱柜').try(:id)).map{|o| o.packages.pluck(:label_size).sum}.sum, class: 'form-control', min: 0, step: 1, required: true %>
      <% else %>
      <%= f.number_field :cupboard, value: @indent_or_order.order_category.name == '橱柜' ? @indent_or_order.packages.pluck(:label_size).sum : 0, class: 'form-control', min: 0, step: 1, required: true %>
      <% end %>
    </div>
  </div>
  <div class="form-group" style="width: 100%; margin-top: 5px;">
    <%= f.label :robe, '衣柜', class: 'col-xs-1 control-label text-right', style: 'margin-top: 8px;padding: 0;' %>
    <div class="col-xs-3">
      <% if @indent_or_order.class == Indent %>
      <%= f.number_field :robe, value: @indent_or_order.orders.where(order_category_id: OrderCategory.find_by(name: '衣柜').try(:id)).map{|o| o.packages.pluck(:label_size).sum}.sum, class: 'form-control', min: 0, step: 1, required: true %>
      <% else %>
      <%= f.number_field :robe, value: @indent_or_order.order_category.name == '衣柜' ? @indent_or_order.packages.pluck(:label_size).sum : 0, class: 'form-control', min: 0, step: 1, required: true %>
      <% end %>
    </div>
    <%= f.label :door, '门', class: 'col-xs-1 control-label text-right', style: 'margin-top: 8px;padding: 0;' %>
    <div class="col-xs-3">
      <% if @indent_or_order.class == Indent %>
      <%= f.number_field :door, value: @indent_or_order.orders.where(order_category_id: OrderCategory.find_by(name: '门').try(:id)).map{|o| o.packages.pluck(:label_size).sum}.sum, class: 'form-control', min: 0, step: 1, required: true %>
      <% else %>
      <%= f.number_field :door, value: @indent_or_order.order_category.name == '门' ? @indent_or_order.packages.pluck(:label_size).sum : 0, class: 'form-control', min: 0, step: 1, required: true %>
      <% end %>
    </div>
    <%= f.label :part, '配件', class: 'col-xs-1 control-label text-right', style: 'margin-top: 8px;padding: 0;' %>
    <div class="col-xs-3">
      <% if @indent_or_order.class == Indent %>
      <%= f.number_field :part, value: @indent_or_order.orders.where(order_category_id: OrderCategory.find_by(name: '配件').try(:id)).map{|o| o.packages.pluck(:label_size).sum}.sum, class: 'form-control', min: 0, step: 1, required: true %>
      <% else %>
      <%= f.number_field :part, value: @indent_or_order.order_category.name == '配件' ? @indent_or_order.packages.pluck(:label_size).sum : 0, class: 'form-control', min: 0, step: 1, required: true %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= f.button '提交', type: 'button', class: 'btn btn-primary', id: 'order_sent_info_submit' %>
</div>
<% end %>
<script type="text/javascript">
/**
 * 将 子订单 加入到发货清单中
 * data {type: 'Indent/Order', id: '', name: '', agent: ''}
 **/
function addOrderToSentList(data){
  var storage = window.localStorage;
  var sent_list = storage.getItem("sent_list");
  var sent_arr;

  if (sent_list != null && sent_list != "") {
    sent_arr = sent_list.split(",");
    if(sent_arr.indexOf(data.id) < 0){
      sent_arr[sent_arr.length] = data.id;
      $(".order-sent-list tbody").append("<tr><td>" + data.name + "</td><td>" + data.agent + "</td></tr>");
    }
  } else {
    sent_arr = new Array();
    sent_arr[sent_arr.length] = data.id;
    $(".order-sent-list tbody").append("<tr><td>" + data.name + "</td><td>" + data.agent + "</td></tr>");
  }
  storage.sent_list = sent_arr.join(",");
  $("#sent_list_ids").val(storage.sent_list);

  var $sidebar = $("div.right-sidebar");
  if ($sidebar.css("display") == 'none') {
    $sidebar.show();
  }
}

/**
 * 将 总订单 加入到发货清单中
 * data {type: 'Indent/Order', id: '', name: '', agent: ''}
 **/
function addIndentToSentList(data){
  var indent_id = "#not_sent_indent_" + data.id;
  var $orders = $(indent_id).find(".indent_orders");
  $.each($orders, function(index){
    var data = $(this).data();
    console.log(data);
    if (data.status == 'packaged'){
      addOrderToSentList({type: 'Order', id: data.id, name: data.name, agent: data.agent});
    }
  });
}

$("#order_sent_info_submit").on("click", function(e){
  e.preventDefault();
  var path = type = "";
  var $el = $(this);
  var $form = $el.parents("form");
  // var $sent_list_form = $("#batch_set_form");
  $form.ajaxSubmit({
    success: function(data){
      $("#addSent").modal("hide");
      $form.removeClass("new");
      // TODO: 有问题
      jsNoty("notice", "发货信息创建成功！");
      // 将 子订单 | 总订单下的所有子订单 添加到 发货清单 中
      var data = {type: $("#order_sent_owner_type").val(),
                  id: $("#order_sent_owner_id").val(),
                  name: $("#indent_or_order_name").text(),
                  agent: $("#indent_or_order_agent").text(),
                  status: ''};
      console.log(data);
      if(data.type == "Order"){
        addOrderToSentList(data);
      }else if(data.type == "Indent"){
        addIndentToSentList(data);
      }else {
        jsNoty("error", "无法获取订单数据！");
      }
    }
  });
});
</script>