<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="addIndentLabel"> 发货信息 <small></small></h4>
</div>
<div class="modal-body">

    <%= form_for(@sent, html: {class: "form-inline"}) do |f| %>
        <div class="form-group" style="margin-top: 20px;">
          <div class="row">
            <div class="col-sm-6">
              <p>订单号：<%= @indent_or_order.name %></p>

            </div>
            <div class="col-sm-6">
              <%= f.hidden_field :owner_id, value: @indent_or_order.id if @sent.new_record? %>
              <%= f.hidden_field :owner_type, value: @indent_or_order.class.name if @sent.new_record? %>              
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <div class="row">
            <div class="col-sm-4">
              <label>地&nbsp;&nbsp;&nbsp;&nbsp;区</label>
              <%= f.text_field :area, class: 'form-control', style: 'width:70%;' %>
            </div>
            <div class="col-sm-4">
              <%= f.label '收货人' %>
              <%= f.text_field :receiver, class: 'form-control', required: true, style: 'width:70%;' %>
            </div>
            <div class="col-sm-4">
              <%= f.label '联系人' %>
              <%= f.text_field :contact, class: 'form-control', required: true, style: 'width:70%;' %>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <div class="row">
            <div class="col-sm-4">
              <label>代&nbsp;&nbsp;&nbsp;&nbsp;收</label>
              <%= f.text_field :collection, class: 'form-control', style: 'width:70%;' %>
            </div>
            <div class="col-sm-4">
              <label>物&nbsp;&nbsp;&nbsp;&nbsp;流</label>
              <%= f.text_field :logistics, class: 'form-control', style: 'width:70%;' %>
            </div>
            <div class="col-sm-4">
              <%= f.label '物流号' %>
              <%= f.text_field :logistics_code, class: 'form-control', style: 'width:70%;' %>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <div class="row">
            <div class="col-sm-3">
              <%= f.label '橱柜' %>
              <%= f.number_field :cupboard, class: 'form-control', min: 0, step: 0.01, required: true, style: 'width:50%;' %>
            </div>
            <div class="col-sm-3">
              <%= f.label '衣柜' %>
              <%= f.number_field :robe, class: 'form-control', min: 0, step: 0.01, required: true, style: 'width:50%;' %>
            </div>
            <div class="col-sm-3">
              <%= f.label '门' %>
              <%= f.number_field :door, class: 'form-control', min: 0, step: 0.01, required: true, style: 'width:50%;' %>
            </div>
            <div class="col-sm-3">
              <%= f.label '配件' %>
              <%= f.number_field :part, class: 'form-control', min: 0, step: 0.01, required: true, style: 'width:50%;' %>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <%= f.submit '提交', class: 'btn btn-primary' %>
        </div>
        <% end %>

</div>
