<p id="notice"><%= notice %></p>

<p>
  <strong>Indent:</strong>
  <%= @sent.indent %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sent.name %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @sent.sent_at %>
</p>

<p>
  <strong>Area:</strong>
  <%= @sent.area %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @sent.receiver %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @sent.contact %>
</p>

<p>
  <strong>Cupboard:</strong>
  <%= @sent.cupboard %>
</p>

<p>
  <strong>Robe:</strong>
  <%= @sent.robe %>
</p>

<p>
  <strong>Door:</strong>
  <%= @sent.door %>
</p>

<p>
  <strong>Part:</strong>
  <%= @sent.part %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @sent.collection %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @sent.collection %>
</p>

<p>
  <strong>Logistics:</strong>
  <%= @sent.logistics %>
</p>

<p>
  <strong>Logistics code:</strong>
  <%= @sent.logistics_code %>
</p>

<%= link_to 'Edit', edit_sent_path(@sent) %> |
<%= link_to 'Back', sents_path %>
