<!-- <div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 板料 <small>编辑</small> </h2>
      <div class="pull-right panel-options">
        <%#= link_to '返回', materials_path, class: 'btn btn-info', data: { toggle: 'tooltip', title: '返回到订>单列表'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <%#= render 'form' %>
  </div>
</div> -->
<%= form_for @material, url: material_path(@material), html: {class: 'form-horizontal'} do |f| %> 
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="editMaterialLabel"> 板料 <small> 编辑 </small></h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="material_ply" class="col-sm-3 control-label text-right"><span class="require">*</span>厚度</label>
    <div class="col-sm-9">
      <%= f.select :ply, MaterialCategory.where(oftype: 0).map{|mc|[mc.name, mc.id]}, {include_blank: '请选择厚度', selected: @material.ply}, {class: 'form-control', required: true} %>
    </div>
  </div>
  <div class="form-group">
    <label for="material_texture" class="col-sm-3 control-label text-right"><span class="require">*</span>材质</label>
    <div class="col-sm-9">
      <%= f.select :texture, MaterialCategory.where(oftype: 1).map{|mc|[mc.name, mc.id]}, {include_blank: '请选择材质', selected: @material.texture}, {class: 'form-control', required: true} %>
    </div>
  </div>
  <div class="form-group">
    <label for="material_color" class="col-sm-3 control-label text-right"><span class="require">*</span>颜色</label>
    <div class="col-sm-9">
      <%= f.select :color, MaterialCategory.where(oftype: 2).map{|mc|[mc.name, mc.id]}, {include_blank: '请选择颜色', include_blank: false, selected: @material.color}, {class: 'form-control', required: true} %>
    </div>
  </div>
  <div class="form-group">
    <label for="material_buy" class="col-sm-3 control-label text-right"><span class="require">*</span>进价</label>
    <div class="col-sm-9">
      <%= f.number_field :buy, value: @material.buy, class: 'form-control', value: 1, min: 0, step: 0.01, required: true %>
    </div>
  </div>
  <div class="form-group">
    <label for="material_sell" class="col-sm-3 control-label text-right"><span class="require">*</span>售价</label>
    <div class="col-sm-9">
      <%= f.number_field :price, value: @material.price, class: 'form-control', value: 1, min: 0, step: 0.01, required: true %>
    </div>
  </div>
  <div class="form-group">
    <label for="material_uom" class="col-sm-3 control-label text-right"><span class="require">*</span>单位</label>
    <div class="col-sm-9">
      <%= f.select :uom, Uom.where(deleted: false).map{|u|[u.name,u.name]}, {include_blank: '请选择单位', selected: @material.uom}, {class: 'form-control', required: true} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label '库存', for: 'material_store', class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.number_field :store, value: @material.store, class: 'form-control', value: 1, min: 0, step: 0.01 %>
    </div>
  </div>
  <div class="form-group">
    <label for="material_supply_id" class="col-sm-3 control-label text-right"><span class="require">*</span>供应商</label>
    <div class="col-sm-9">
      <%= f.select :supply_id, Supply.all.map{|s|[s.full_name,s.id]}, {include_blank: '请选择供应商', selected: @material.supply_id}, {class: 'form-control', required: true} %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= f.button '取消', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= f.submit '提交', class: 'btn btn-primary' %>
</div>
<% end %>