<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title" style="margin-bottom: 2px; padding-bottom: 0px;">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 板料 <small>列表</small> </h2>
      <%#= link_to '查看统计', '#', class: "btn btn-primary", data: {toggle: 'modal', target: '#showMaterialStat'}, style:'margin-left: 20px; margin-buttom: 0px; color: #fff;' %>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addMaterials'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <!-- <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <%= select_tag :ply, options_for_select(MaterialCategory.where(oftype:0).map{|mc| [mc.name, mc.id]}), prompt: '选择厚度', id: 'search-material-by-ply' %>
        <%= select_tag :texture, options_for_select(MaterialCategory.where(oftype:1).map{|mc| [mc.name, mc.id]}), prompt: '选择材质', id: 'search-material-by-texture' %>
        <%= select_tag :color, options_for_select(MaterialCategory.where(oftype:2).map{|mc| [mc.name, mc.id]}), prompt: '选择颜色', id: 'search-material-by-color' %>
      </div>
    </div> -->
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <th  class="text-center">编码</th>
            <th  class="text-center">名称</th>
            <th  class="text-center">厚度</th>
            <th  class="text-center">材质</th>
            <th  class="text-center">颜色</th>
            <th  class="text-center">库存</th>
            <th  class="text-center">进价</th>
            <th  class="text-center">售价</th>
            <th  class="text-center">单位</th>
            <th  class="text-center">供应商</th>
            <th  class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @materials.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.full_name %></td>
            <td><%= MaterialCategory.find_by_id(m.ply).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(m.texture).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(m.color).try(:name) %></td>
            <td><%= m.store %></td>
            <td><%= m.buy %></td>
            <td><%= m.price %></td>
            <td><%= m.uom %></td>
            <td><%= m.supply.try(:full_name) %></td>
            <td><%= link_to '编辑', edit_material_path(m)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'new' %>


<!-- 总订单统计信息模态框 Modal -->
<div class="modal fade" id="showMaterialStat" tabindex="-1" role="dialog" aria-labelledby="showMaterialStatLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="showMaterialStatLabel">板料统计信息</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>板料统计信息</span>
          </div>
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>排名</th>
              <th>名称</th>
              <th>数量</th>
            </tr>
            
            <% @materials_top_arr.each_with_index do |m,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= m[:name] %></td>
              <td><%= m[:number].to_f.round(2) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
