<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title" style="margin-bottom: 2px; padding-bottom: 0px;">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 板料 <small>列表</small> </h2>
      <%= link_to '查看统计', '#', class: "btn btn-primary", data: {toggle: 'modal', target: '#showMaterialStat'}, style:'margin-left: 20px; margin-buttom: 0px; color: #fff;' %>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addMaterials'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-table">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>查询条件</span>
        </div>
        <div class="panel-body">
          <%= form_tag materials_path, class: 'form-inline', method: 'get' do %>
          <%= label_tag :start_at, '查询时间', class: 'control-label', style: 'margin: 0px;' %>
          <%= date_field_tag :start_at, params[:start_at].presence || Date.today.beginning_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择起始日期', required: true %>
          &nbsp;&nbsp;--&nbsp;&nbsp;
          <%= date_field_tag :end_at, params[:end_at].presence || Date.today.end_of_month, class: 'form-control', data: {provide: 'datepicker'}, placeholder: '请选择终止日期',  required: true %>
          <% if params[:sort].present? %>
          <label for="sort_asc" style="margin: 0px 5px;"><%= radio_button_tag :sort, 'asc', params[:sort] == 'asc' ? true : false, id: 'sort_asc' %>统计升序</label>
          <label for="sort_desc" style="margin: 0px 5px;"><%= radio_button_tag :sort, 'desc', params[:sort] == 'desc' ? true : false, id: 'sort_desc' %>统计降序</label>
          <% else %>
          <label for="sort_asc" style="margin: 0px 5px;"><%= radio_button_tag :sort, 'asc', true, id: 'sort_asc' %>统计升序</label>
          <label for="sort_desc" style="margin: 0px 5px;"><%= radio_button_tag :sort, 'desc', false, id: 'sort_desc' %>统计降序</label>
          <% end %>
          <%= submit_tag '查询', class: 'btn btn-primary', style: 'margin: 0 0 0 10px;' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <th>编码</th>
            <th>名称</th>
            <th>厚度</th>
            <th>材质</th>
            <th>颜色</th>
            <th>库存</th>
            <th>进价</th>
            <th>售价</th>
            <th>单位</th>
            <th>供应商</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @materials.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.full_name %></td>
            <td><%= MaterialCategory.find_by_id(m.ply).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(m.texture).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(m.color).try(:name) %></td>
            <td><%= m.store %></td>
            <td><%= m.buy %></td>
            <td><%= m.price %></td>
            <td><%= m.uom %></td>
            <td><%= m.supply.try(:full_name) %></td>
            <td><%= link_to '编辑', edit_material_path(m), class:'btn btn-xs btn-primary', data: { toggle: 'modal', target: '#editMaterial'}%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'new' %>


<!-- 总订单统计信息模态框 Modal -->
<div class="modal fade" id="showMaterialStat" tabindex="-1" role="dialog" aria-labelledby="showMaterialStatLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="showMaterialStatLabel">板料统计信息</h4>
      </div>
      <div class="modal-body" style="padding: 4px;">
        <div class="panel panel-info">
          <table class="table table-hover table-striped table-bordered table-condensed text-center order-show-table">
            <tr>
              <th>排名</th>
              <th>板料名称</th>
              <th>使用数量</th>
            </tr>
            
            <% @materials_arr.each_with_index do |m,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= m[:name] %></td>
              <td><%= m[:number].to_f.round(2) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editMaterial" tabindex="-1" role="dialog" aria-labelledby="editMaterialLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<script type="text/javascript">
$("#editMaterial").on("hidden.bs.modal", function(e){
  $(this).removeData("bs.modal");
});
</script>