<div class="col-md-12 panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title"><h2><i class="fa fa-lg fa-desktop"></i> 板料 <small>列表</small> </h2></div>
    <div class="panel-options">
      <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addPart'} %>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <!-- <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <%= select_tag :ply, options_for_select(MaterialCategory.where(oftype:0).map{|mc| [mc.name, mc.id]}), prompt: '选择厚度', id: 'search-material-by-ply' %>
        <%= select_tag :texture, options_for_select(MaterialCategory.where(oftype:1).map{|mc| [mc.name, mc.id]}), prompt: '选择材质', id: 'search-material-by-texture' %>
        <%= select_tag :color, options_for_select(MaterialCategory.where(oftype:2).map{|mc| [mc.name, mc.id]}), prompt: '选择颜色', id: 'search-material-by-color' %>
      </div>
    </div> -->
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <th  class="text-center">编码</th>
            <th  class="text-center">名称</th>
            <th  class="text-center">厚度</th>
            <th  class="text-center">材质</th>
            <th  class="text-center">颜色</th>
            <th  class="text-center">库存</th>
            <th  class="text-center">进价</th>
            <th  class="text-center">售价</th>
            <th  class="text-center">单位</th>
            <th  class="text-center">供应商</th>
            <th  class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @materials.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.full_name %></td>
            <td><%= MaterialCategory.find_by_id(m.ply).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(m.texture).try(:name) %></td>
            <td><%= MaterialCategory.find_by_id(m.color).try(:name) %></td>
            <td><%= m.store %></td>
            <td><%= m.buy %></td>
            <td><%= m.price %></td>
            <td><%= m.uom %></td>
            <td><%= m.supply.try(:name) %></td>
            <td><%= link_to '删除', m, method: :delete, data: { confirm: '警告！ 操作不可逆转，确认删除？' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'new' %>