<p id="notice"><%= notice %></p>

<h1>Listing Material Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_categories.each do |material_category| %>
      <tr>
        <td><%= link_to 'Show', material_category %></td>
        <td><%= link_to 'Edit', edit_material_category_path(material_category) %></td>
        <td><%= link_to 'Destroy', material_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material category', new_material_category_path %>
