<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 板料类型 <small>列表</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '新建', '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#addMaterialCategory'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <div class="row content-title">
      <div class="btn-group" role="group" aria-label="">
        <% MaterialCategory.oftype.push(['所有', nil]).each do |k, name| %>
        <%= link_to k, material_categories_path(oftype: name), class: "btn btn-default #{'btn-primary' if params[:oftype].presence == name}" %>
        <% end %>
      </div>
    </div>
    <div class="row content-table">
      <table class="table table-hover table-striped table-bordered table-condensed text-center">
        <thead>
          <tr class="info">
            <th class="col-sm-1 text-center">类型</th>
            <th class="col-sm-3 text-center">名称</th>
            <th class="col-sm-6 text-center">备注</th>
            <th class="col-sm-2 text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @material_categories.each do |mc| %>
          <tr>
            <td><%= mc.oftype_name %></td>
            <td><%= mc.name %></td>
            <td style="max-width:400px;"><%= mc.note %></td>
            <td>
              <%= link_to "编辑", edit_material_category_path(id: mc.id), class:'btn btn-xs btn-primary', data: { toggle: 'modal', target: '#editMaterialCategory'} %>
              <% if mc.deleted %>
              <%= link_to '恢复', material_category_path(mc, reset: true), method: :patch, class: 'btn btn-xs btn-default', style: "color: green !important;" %>
              <% else %>
              <%= link_to '删除', mc, method: :delete, style: "color: red !important;", class: 'btn btn-xs btn-default',  data: { confirm: '确认删除？' } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pages pull-right">
        <%= paginate @material_categories %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editMaterialCategory" tabindex="-1" role="dialog" aria-labelledby="editMaterialCategoryLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<script type="text/javascript">
$("#editMaterialCategory").on("hidden.bs.modal", function(e){
  $(this).removeData("bs.modal");
});
</script>

<%= render 'new' %>