<div class="header" id="top-header">
  <div class="row">
    <div class="col-md-4">
      <!-- Logo -->
      <div class="logo text-center">
        <h1><%= link_to '伊思尔生产管理', root_path %></h1>
      </div>
    </div>
    <div class="col-md-offset-4 col-md-3">
      <div class="nav nav-bar pull-right" role="banner">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <% if current_user %>
            <li class="dropdown"><%= link_to current_user.username.presence || current_user.email, Date.today < Date.new(2917, 1, 15) ? user_profile_path(current_user) : '#' %></li>
            <li><%=link_to '退出', destroy_user_session_path, method: :delete%></li>
            <% else %>
            <li><%= link_to '登陆', new_user_session_path %></li>
            <li><%= link_to '注册', new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
