<%# 顶部导航 %>
<nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme">
  <div class="container">
    <!-- 品牌 -->
    <%= link_to root_path, class: 'navbar-brand' do %>
      <span class="text-white"><%= ENV['APP_NAME'] %></span>
    <% end %>

    <!-- 切换 -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse scrollbar perfect-scrollbar" id="navbarStandard">
      <%# 导航菜单-左边 %>
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to '首页', root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to '联系', contact_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to '关于我们', about_path, class: 'nav-link' %></li>
      </ul>

      <%# 导航条-右边 %>
      <%= render 'layouts/account' %>
    </div>
  </div>
</nav>

<%# 注册弹框 %>
<div class="modal fade" id="authenticationModal" tabindex="-1" role="dialog" aria-labelledby="authenticationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-4">
        <%# 标题 %>
        <div class="row text-left justify-content-between align-items-center mb-2 user-select-none">
          <div class="col-auto"><h5 id="authenticationModalLabel">注册账号</h5></div>
          <div class="col-auto">
            <p class="fs--1 text-600 mb-0">
              已有账号？<%= link_to '马上登录', '#!', class: 'text-decoration-none', data: { toggle: 'modal', target: '#loginModal' } %>
            </p>
          </div>
        </div>

        <%# 注册表单 %>
        <%= simple_form_for User.new, remote: true, html: { class: 'mt-3' } do |f| %>
          <div class="form-inputs">
            <%= f.input :username, label: false, required: true, placeholder: 'Username' %>
            <%= f.input :email, label: false, required: true, placeholder: 'Username' %>
            <div class="form-row">
              <%= f.input :password, label: false, wrapper_html: { class: 'col-6' }, required: true, placeholder: 'Password' %>
              <%= f.input :password_confirmation, label: false, wrapper_html: { class: 'col-6' }, required: true, placeholder: 'Password Confirmation' %>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="modal-register-checkbox" />
              <label class="custom-control-label user-select-none" for="modal-register-checkbox">
                我同意 <%= link_to "《服务条款》", terms_path, class: 'text-decoration-none' %> 和 <%= link_to "《隐私政策》", privacy_path, class: 'text-decoration-none' %>。
              </label>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit '注册账号', class: 'btn btn-primary btn-block mt-3', data: { disable_with: '提交中' } %>
          </div>
        <% end %>

        <%# 分割线 %>
        <div class="w-100 position-relative mt-4">
          <hr class="text-300" />
          <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap user-select-none">第三方平台账号登录</div>
        </div>

        <%# 第三方登录 %>
        <div class="form-group mb-0">
          <div class="row no-gutters">
            <div class="col-sm-6 pr-sm-1">
              <%= link_to '#!', class: 'btn btn-outline-weixin btn-sm btn-block mt-2' do %>
                <span class="fab fa-weixin mr-2" data-fa-transform="grow-8"></span> 微信登录
              <% end %>
            </div>
            <div class="col-sm-6 pl-sm-1">
              <%= link_to '#', class: 'btn btn-outline-qq btn-sm btn-block mt-2' do %>
                <span class="fab fa-qq mr-2" data-fa-transform="grow-8"></span> QQ 登录
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
