<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li class='<%= 'open' if controller_name == 'statics' %>'><a href="<%= statics_home_path %>"><i class="fa fa-home"></i> 个人首页 </a></li>
            <li  class="submenu">
                <a href="#">
                    <i class="fa fa-sitemap"></i> 部门信息 </span>
                </a>
            </li>
            <li  class="submenu <%= 'current open' if ['users', 'staffs'].include?(controller_name)%>">
                <a href="#">
                    <i class="fa fa-user"></i> 员工权限 <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="#">员工列表</a></li>
                    <li><a href="#">权限管理</a></li>
                </ul>
            </li>
            <li  class="submenu <%= 'open' if ['order_categories', 'unit_categories', 'units', 'part_categories', 'parts', 'material_categories', 'materials'].include?(controller_name)%>">
                <a href="#">
                    <i class="fa fa-cogs"></i> 基础信息 <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li class="<%="#{'active' if controller_name == 'order_categories'}" %>"><%= link_to '订单类型', order_categories_path %></li>
                    <li class="<%="#{'active' if controller_name == 'unit_categories'}" %>"><%= link_to '部件类型', unit_categories_path %></li>
                    <li class="<%="#{'active' if controller_name == 'units'}" %>"><%= link_to '部件', units_path %></li>
                    <li class="<%="#{'active' if controller_name == 'part_categories'}" %>"><%= link_to '配件类型', part_categories_path %></li>
                    <li class="<%="#{'active' if controller_name == 'parts'}" %>"><%= link_to '配件', parts_path %></li>
                    <li class="<%="#{'active' if controller_name == 'material_categories'}" %>"><%= link_to '板料类型', material_categories_path %></li>
                    <li class="<%="#{'active' if controller_name == 'materials'}" %>"><%= link_to '板料', materials_path %></li>
                </ul>
            </li>
            <li  class="submenu">
                <a href="#">
                    <i class="fa fa-calculator"></i> 财务数据 <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </li>
            <li  class="submenu">
                <a href="#">
                    <i class="fa fa-briefcase"></i> 订单管理 <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="#">订单</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </li>
            <li  class="submenu">
                <a href="#">
                    <i class="fa fa-wrench"></i> 生产任务 <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </li>
            <li  class="submenu">
                <a href="#">
                    <i class="fa fa-truck"></i> 物流发货 <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#">
                    <i class="fa fa-anchor"></i> 其他 <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>