<%= render 'layouts/frame' do %>
  <body data-spy="scroll" data-target="#static-scroll">
    <main class="main" id="top">
      <%= render 'layouts/navbar' %>
      
      <%= yield %>

      <%= render 'layouts/footer' %>
      <%= render 'layouts/modal' %>
    </main>
  </body>
<% end %>
